<template>
	<v-flex xs12 class="mb-2">
    <v-card>
      <v-card-media
        :src="blog.pic"
        height="300px"
      >
      </v-card-media>
      <v-card-title primary-title>
        <div>
          <h3 class="headline grey--text" v-text="blog.title"></h3>
          <div v-text="blog.readmore.slice(0, 250) + '...'"></div>
        </div>
      </v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn :to="'/news/' + blog.slug" color="primary">Visit Blog Post</v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script scoped>
	export default {
		name: 'Blog-Card',
		props: ['blog'],
		data () {
			return {

			}
		}
	}
</script>