<template>
	<v-container fluid>
		<v-layout row wrap>
			<v-flex xs12>
				<v-jumbotron color="grey darken-2" height="300px">
			    <v-container fill-height>
			      <v-layout align-center>
			        <v-flex>
			          <h3 class="display-3">Welcome to <span class="primary--text"> {{ appName }} </span> checkout page</h3>
			          <span class="subheading"></span>
			          <v-divider class="my-3"></v-divider>
			          <div class="title mb-3">Review your cart before proceeding to checkout</div>
			          <v-btn v-if="cartTotal !== 0" large color="primary" class="mx-0" @click.stop="checkout(cartTotal)">Procced to Checkout</v-btn>
			        </v-flex>
			      </v-layout>
			    </v-container>
			  </v-jumbotron>

			  <v-data-table
				      :headers="headers"
				      :items="cartItems"
				      hide-actions
				    >
				      <template slot="items" slot-scope="props">
				      	<td>{{ props.index + 1 }}</td>
				        <td>
				        	<img :src="props.item.picture" :alt="props.item.title" class="aplayer-list-pic">
				        </td>
				        <td class="text-xs-left">
				        	{{ props.item.type }}
				        </td>
				        <td class="text-xs-left">{{ props.item.title }}</td>
				        <td class="text-xs-left">{{ props.item.quantity }}</td>
				        <td class="text-xs-left"><v-icon small color="red">fa-dollar</v-icon> {{ props.item.price }}</td>
				        <td class="text-xs-left">
							    <v-tooltip top>
							    	<v-btn icon small color="amber" slot="activator" @click.stop="remove_Item_From_Cart(props.index, props.item.id)">
							    		<v-icon>fa-times</v-icon>
							    	</v-btn>
							    	<span>remove from cart</span>
							    </v-tooltip>
				        </td>
				      </template>
				      <template slot="no-data">
					      <v-alert :value="true" color="error" icon="warning">
					        Sorry, nothing in your cart to display :( <v-btn to="/shop">Go Shopping</v-btn>
					      </v-alert>
					    </template>
					    <template slot="footer">
						    <td colspan="100%">
						      <strong class="display-1">Total Price:</strong> <span class="red--text display-1">{{ cartTotal | currency }}</span>
						      <v-btn v-if="cartTotal !== 0" large color="primary" style="float: right;" class="mx-0" @click.stop="checkout(cartTotal)">Procced to Checkout</v-btn>
						    </td>
						  </template>
				    </v-data-table>
				  <div id="card-element"></div>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
  import { mapGetters, mapState } from 'vuex'
  import VueNotifications from 'vue-notifications'
	export default {
    name: 'checkout',

    head () {
      return { title: 'Checkout' }
    },
		data () {
			return {
    		appName: process.env.appName,
				complete: false,
	      number: false,
	      expiry: false,
	      cvc: false,
				token: 'pk_test_c2zUExsLlcFACe2nYsxZn43l',
				headers: [
					{text: '#', value: 'number'},
          {
            text: 'Picture',
            // align: 'left',
            sortable: false,
            value: 'cover'
          },
          { text: 'Type', value: 'type' },
          { text: 'Title', value: 'title' },
          { text: 'Quantity', value: 'quantity' },
          { text: 'Price', value: 'price' },
          { text: 'Action', value: 'action' }
        ],
			}
		},

    notifications: {
      showSuccessMsg: {
        type: VueNotifications.types.success,
        title: 'Hello There',
        message: 'That\'s the success!'
      },
      showInfoMsg: {
        type: VueNotifications.types.info,
        title: 'Hey Man',
        message: 'Here is some info for you'
      },
      showWarnMsg: {
        type: VueNotifications.types.warn,
        title: 'Wow,',
        message: 'That\'s the kind of warning'
      },
      showErrorMsg: {
        type: VueNotifications.types.error,
        title: 'Wow-wow',
        message: 'That\'s the error'
      }
    },

		// mounted() {
		// 	const style = {
		// 	  base: {
		// 	    color: '#303238',
		// 	    fontSize: '16px',
		// 	    color: "#32325d",
		// 	    fontSmoothing: 'antialiased',
		// 	    '::placeholder': {
		// 	      color: '#ccc',
		// 	    },
		// 	  },
		// 	  invalid: {
		// 	    color: '#e5424d',
		// 	    ':focus': {
		// 	      color: '#303238',
		// 	    },
		// 	  },
		// 	}
	 //    const elements = this.$stripe.import().elements();
	 //    const card = elements.create('card', {style});
	 //    // Add an instance of the card Element into the `card-element` <div>
	 //    card.mount('#card-element');
	 //  },

    computed: {
      ...mapGetters({
        cartItems: 'cart/cartProducts',
        cartTotal: 'cart/cartTotal'
      }),
    },
    methods: {
      remove_Item_From_Cart (index, productId) {
      	this.$store.dispatch('cart/removeProductFromCart', {productId})
      		.then(response => {
      				// this.$delete(this.cartItems, index)
      				this.showInfoMsg({title: "Remove From Cart", message: "Item bas been removed from cart", timeout: 15000})
      			}, response => {
      				this.showWarnMsg({title: "Remove From Cart", message: "Failed to remove item from cart", timeout: 15000})
      		})
      },
      checkout(amount) {
	      // this.$checkout.close() 
	      // is also available.
	      this.$checkout.open({
	        name: 'Shut up and take my money!',
	        currency: 'USD',
	        amount: amount * 100,
  				billingAddress: true,
  				panelLabel: 'Pay Now {{amount}}',
	        token: (token) => {
	        	alert('You payment is complete')
	          // Send the token to your server
	          // for payment or subscription handling,
	          // or do whatever you want with it
	          // I don't really care. 
	        } 
	      })
	    }
    },
    watch: {
	    // number () { this.update() },
	  }
	}
</script>

<style scoped>
	.aplayer-list-author {
    color: #666;
    /*// float: right;*/
    cursor: pointer;
  }
  .aplayer-list-pic {
    width: 64px !important;
    height: 64px !important;
  }
</style>