<template>
	<v-tabs fixed centered color="primary">
				    <v-tab
				        href="#details"
				    >
				        <v-btn color="secondary">Details</v-btn>
				    </v-tab>
				    <v-tab
				        href="#photos"
				    >
				        <v-btn color="secondary">Photos</v-btn>
				    </v-tab>
				    <v-tab
				        href="#songs"
				    >
				        <v-btn color="secondary">Songs(s)</v-btn>
				    </v-tab>
				    <v-tab
				        href="#albums"
				    >
				        <v-btn color="secondary">Album(s)</v-btn>
				    </v-tab>
				    <v-tab
				        href="#videos"
				    >
				        <v-btn color="secondary">Video(s)</v-btn>
				    </v-tab>
				    <v-tabs-items>
				      <v-tab-item
				        id="details"
				      >
				      	<v-container  class="">
					        <v-layout row wrap>
				        		<v-detail :bio="artist.bio" :label="artist.label_data" :manager="artist.manager_data"></v-detail>
					        </v-layout>
					      </v-container>
				      </v-tab-item>
				      <v-tab-item
				        id="photos"
				      >
				        <v-container  class="grey lighten-4" fluid grid-list-xs>
					        <v-layout row wrap>
					          <v-photo v-for="(photo, index) in artist.photos.data" :key="index" :photo="photo"></v-photo>
					        </v-layout>
					      </v-container>
				      </v-tab-item>
				      <v-tab-item
				        id="songs"
				      >
				        <v-container fluid grid-list-xs>
				        	<v-layout row wrap>
							      <v-song v-for="(song, index) in artist.songs.data" :key="index" :song="song" height="200px"></v-song>
							    </v-layout>
				        </v-container>
				      </v-tab-item>
				      <v-tab-item id="albums">
				      	<v-container fluid grid-list-xs>
				        	<v-layout row wrap>
							      <v-album v-for="(album, index) in artist.albums.data" :key="index" :album="album" height="200px"></v-album>
							    </v-layout>
				        </v-container>
				      </v-tab-item>
				      <v-tab-item
				        id="videos"
				      >
				        <v-container fluid grid-list-xs>
				        	<v-layout row wrap>
							      <v-video v-for="(video, index) in artist.videos.data" :key="index" :video="video" height="200px"></v-video>
							    </v-layout>
				        </v-container>
				      </v-tab-item>
				    </v-tabs-items>
				  </v-tabs>
</template>

<script>
	import { mapGetters, mapState } from 'vuex'
	import Photo from '@/components/artiste/Photos.vue'
	import Detail from '@/components/artiste/Details.vue'
  import Song from '@/components/Song.vue'
  import Video from '@/components/Video.vue'
  import AlbumCard from '@/components/AlbumCard.vue'
	export default {
		name: 'Artist',
		props: ['artist'],
		data () {
			return {}
		},
		
		computed: {
			...mapGetters({})
		},

		components: {
			'v-photo': Photo,
			'v-detail': Detail,
      'v-song': Song,
      'v-video': Video,
      'v-album': AlbumCard
		},
	}
</script>