<template>
	<v-flex xs12 sm3>
    <v-card :to="'/artiste/' + artiste.slug">
      <v-card-media
        :src="artiste.pic"
        height="200px"
      >
      </v-card-media>
      <v-card-title primary-title>
        <div>
          <div class="headline" v-text="artiste.stageName"></div>
          <span style="text-transform: capitalize" class="grey--text" v-text="artiste.name"></span>
        </div>
      </v-card-title>
      <v-card-actions>
        <v-btn color="secondary" :to="'/artiste/' + artiste.slug">Visit Profile</v-btn>
        <v-spacer></v-spacer>
        <v-btn color="primary"> <v-icon small>fa-link</v-icon> &nbsp; Follow</v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script scoped>
	export default {
		name: 'artiste-card',
		props: ['artiste'],
		data () {
			return {

			}
		}
	}
</script>