<template>
	<v-tabs fixed>
			<v-tab
			  href="#description"
			  style="font-size:1.3em;"
			>
			        Description
			</v-tab>
			<v-tab
			  href="#manager-information"
			  style="font-size:1.3em;"
			>
			  Manager Information
			</v-tab>
			<v-tab
			        href="#record-label-information"
			        style="font-size:1.3em;"
			>
			   Record Label
			</v-tab>
		<v-tabs-items>
			<v-tab-item
			  id="description"
			>
				<v-container fluid grid-list-md class="">
					<v-layout row wrap>
				  	<v-flex xs12 v-html="bio">
				   		
				  	</v-flex>
					</v-layout>
				</v-container>
			</v-tab-item>
			<v-tab-item
				id="manager-information"
			>
			  <v-container fluid grid-list-md class="grey lighten-4">
				  <v-layout row wrap>
				    <v-flex xs12 v-html="manager">
				      
				    </v-flex>
				  </v-layout>
				</v-container>
			</v-tab-item>
			<v-tab-item
			 	id="record-label-information"
			>
				<v-container fluid grid-list-md class="grey lighten-4">
				  <v-layout row wrap>
				    <v-flex xs12 v-html="label">
				      
				    </v-flex>
				  </v-layout>
				</v-container>
			</v-tab-item>
		</v-tabs-items>
	</v-tabs>
</template>

<script scoped>
	export default {
		name: 'profile-detail',
		props: ['bio', 'label', 'manager'],
		data () {
			return {

			}
		}
	}
</script>

<style scoped>
	
</style>