<template>
	<v-flex xs12>
		<v-container>
			<v-layout row wrap>
				<v-flex xs1>
					<avatar :username="review.name" background-color="#ffab00" color="#ffffff"></avatar>
				</v-flex>
				<v-flex xs11>
					<span class="grey--text title">{{ review.name }}</span> -- <span class="grey--text lighten-1 caption">{{ review.created }}</span>
					<div v-text="review.review"></div>
				</v-flex>
			</v-layout>
		</v-container>
	</v-flex>
</template>

<script scoped>
	export default {
		name: 'Review',
		props: ['review'],
		data () {
			return {}
		},
	}
</script>