<template>
	<v-layout wrap row mt-4>
		<v-review v-for="(review, index) in reviews" :key="index" :review="review"></v-review>						
	</v-layout>
</template>

<script scoped>
	import Review from './Review'
	export default {
		name: 'Reviews',
		props: ['reviews'],
		data () {
			return {

			}
		},
		components: {
			'v-review': Review
		}
	}
</script>