<template>
  <v-container fluid grid-list-xs>
    <v-subheader>Browse All Product(s)</v-subheader>
    <div :class="{'is-waiting': loader}">
      <v-layout row class="mb-2">
        <v-spacer></v-spacer>
        <v-select
          :items="profiles"
          v-model="filter"
          label="Filter"
          single-line
          item-text="name"
          item-value="id"
          auto
          append-icon="fa-filter"
          hide-details
          @change="filterProducts"
        ></v-select>
        <v-btn @click.stop="resetFilter">Reset Filter</v-btn>
      </v-layout>
      <v-layout row wrap>
        <v-product v-if="products" v-for="(product, index) in products" :key="index" :product="product" height="300px"></v-product>
      </v-layout>
      <v-btn color="secondary" v-if="pagination.current_page !== pagination.total_pages" @click.stop="fetchMore(pagination.links.next)">load more
      </v-btn>
    </div>
  </v-container>
</template>

<script scoped>
  import { mapGetters, mapState, mapActions } from 'vuex'
  import ProductCard from '@/components/ProductCard.vue'
  export default {
    name: 'shop',

    head () {
      return { title: 'Shop' }
    },

    name: 'Products',
    data () {
      return {
        loader: false,
        profiles: [],
        filter: '',
        filterParams: {
          profile_id: ''
        }
      }
    },

    components: {
      'v-product': ProductCard
    },

    computed: {
      ...mapGetters({
        productIsInStock: 'product/productIsInStock',
        pagination: 'product/meta',
        products: 'product/availableProducts'
      })
    },

    created () {
      this.loader = true
      this.fetchProducts()
        .then(() => this.loader = false)
    },
    methods: {
      ...mapActions({
        fetchProducts: 'product/fetchProducts',
        // addProductToCart: 'cart/addProductToCart'
      }),
      
      async fetchMore (url) {   
        this.loader = true
        await this.$store.dispatch('product/fetchMoreProducts', {url})
        this.loader = false
      },

      filterProducts (val) {
        this.filterParams.profile_id = val
        this.loadMyResponse.trigger = true
      },
      resetFilter () {
        this.filter = ''
        this.filterParams.profile_id = ''
        this.loadMyResponse.trigger = true
      }
    },
  }
</script>

<style scoped>
  
</style>