<template>
	<v-container fluid>
		<v-layout row wrap>
			<v-flex xs12>
				<v-jumbotron
			    src="https://vuetifyjs.com/static/doc-images/parallax/material2.jpg"
			    :gradient="gradient"
			    dark
			  >
			    <v-container fill-height>
			      <v-layout align-center>
			        <v-flex text-xs-center>
			          <h3 class="display-3">YOUR MUSIC, NO RESTRICTIONS</h3>
			          <v-subheader class="text-xs-center d-block">$4.99 / month</v-subheader>
			          <v-btn color="blue" large block to="/payment">Subscribe Now</v-btn>
			        </v-flex>
			      </v-layout>
			    </v-container>
			  </v-jumbotron>
			</v-flex>
			<v-flex xs6>
				<img src="/test.png" height="460" width="560" alt="">
			</v-flex>
			<v-flex xs6>
				<h1 class="display-3">The music you want Anywhere, anytime.</h1>
				<v-list>
          <v-list-tile avatar v-for="item in items" :key="item.title" @click="">
            <v-list-tile-action>
              <v-icon v-if="item.icon" color="pink">fa-check</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="item.title"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-btn large color="blue" block to="/payment">Subscribe Now</v-btn>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
  export default {
    data: () => ({
      gradient: 'to top right, rgba(63,81,181, .7), rgba(25,32,72, .7)',
      items: [
          { icon: true, title: 'Listen to all the tracks you want'},
          { icon: true, title: 'No ads, no interruptions'},
          { icon: true, title: 'Download your music to listen even when there\'s no connection'},
          { icon: true, title: 'Enjoy high quality sound'},
          { icon: true, title: 'Create playlists'},
          { icon: true, title: 'View other users playlists'}
        ]
    })
  }
</script>