<template>
	<v-footer dark class="pa-3">
    <v-spacer></v-spacer>
    <div>© {{ new Date().getFullYear() }} {{ appName }}</div>
  </v-footer>
</template>

<script scoped>
	export default {
		name: 'AppFooter',
		data () {
			return {
    		appName: process.env.appName,
      			fixed: true
			}
		}
	}
</script>

<style lang="css" scoped>
	
</style>