<template>
  <v-layout>
    <v-navigation-drawer
      :mini-variant.sync="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      fixed
      app
    >
      <v-list>
        <v-list-tile
          router
          :to="item.to"
          :key="i"
          v-for="(item, i) in items"
          exact
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar fixed app color="primary" :clipped-left="clipped">
      <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
      <v-btn flat to="/" class="white--text">Home</v-btn>
      <v-btn flat class="white--text">Services</v-btn>
        <v-btn flat class="white--text" to="/artiste">Artiste</v-btn>
        <v-btn flat class="white--text" to="/beat-store">Beat Store</v-btn>
        <v-btn flat class="white--text" to="/shop">shop</v-btn>
        <v-btn flat class="white--text" to="/news">News</v-btn>
        <v-menu offset-y>
          <v-btn flat dark slot="activator">About</v-btn>
          <v-list>
            <v-list-tile to="/about_us">
              <v-list-tile-title>About us</v-list-tile-title>
            </v-list-tile>
            <v-list-tile to="/our_teams">
              <v-list-tile-title>Our Term</v-list-tile-title>
            </v-list-tile>
            <v-list-tile to="/frequently_asked_questions">
              <v-list-tile-title>Faqs</v-list-tile-title>
            </v-list-tile>
            <v-list-tile to="/subscription/payment">
              <v-list-tile-title>Subscription</v-list-tile-title>
            </v-list-tile>
            <v-list-tile to="/privacy">
              <v-list-tile-title>Privacy Policy</v-list-tile-title>
            </v-list-tile>
            <v-list-tile to="/terms">
              <v-list-tile-title>Terms</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
        <v-btn flat class="white--text" to="/contact_us">Contact</v-btn>
        <v-menu offset-y>
          <v-btn flat dark slot="activator">Account</v-btn>
          <v-list>
            <v-list-tile to="/checkout">
              <v-list-tile-title>Checkout</v-list-tile-title>
            </v-list-tile>
            <v-list-tile to="/register" v-if="!authenticated">
              <v-list-tile-title>Sign Up</v-list-tile-title>
            </v-list-tile>
            <v-list-tile to="/login" v-if="!authenticated">
              <v-list-tile-title>Sign In</v-list-tile-title>
            </v-list-tile>
            <v-list-tile :to="'/' + user.username + '/home'" v-if="authenticated">
              <v-list-tile-title>Home</v-list-tile-title>
            </v-list-tile>
            <v-list-tile :to="'/' + user.username + '/settings/profile'" v-if="authenticated">
              <v-list-tile-title>Profile</v-list-tile-title>
            </v-list-tile>
            <v-list-tile :to="'/' + user.username + '/settings'" v-if="authenticated">
              <v-list-tile-title>Setting</v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="logout()" v-if="authenticated">
              <v-list-tile-title>Sign Out</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
    </v-toolbar>
  </v-layout>
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    data () {
      return {
        clipped: false,
        drawer: false,
        fixed: false,
        items: [
          { icon: 'apps', title: 'Welcome', to: '/' },
          { icon: 'bubble_chart', title: 'Inspire', to: '/inspire' }
        ],
        miniVariant: false,
        appName: process.env.appName
      }
    },

    computed: mapGetters({
      authenticated: 'auth/check',
      user: 'auth/user'
      // totalItems: 'cart/totalItem'
    }),

    method: {
      async logout () {
        // Log out the user.
        await this.$store.dispatch('auth/logout')

        // Redirect to login.
        this.$router.push({ name: 'login' })
      }
    }
  }
</script>