<template>
  <v-carousel style="height:700px;">
    <v-carousel-item
      v-for="(slide,i) in slides"
      :key="i"
      :src="slide.src"
      transition="fade"
      reverse-transition="fade"
    >Test Slide {{ i }}
    </v-carousel-item>
  </v-carousel>
</template>

<script scoped>
export default {
  name: 'carousel',
  props: ['slides'],
  data () {
    return {}
  },
  computed: {},
  methods: {}
}
</script>

<style lang="stylus">
  #example-custom-transition
    .fade
      &-enter-active, &-leave-active, &-leave-to
        transition: .3s ease-out
        position: absolute
        top: 0
        left: 0

      &-enter, &-leave, &-leave-to
        opacity: 0
</style>
