<template>
	<v-flex xs12 md4 class="pr-1 pb-1">
    <v-card>
      <v-card-media
        :src="album.pic"
        height="200px"
      >
      	<v-container fill-height fluid>
          <v-layout fill-height>
            <v-flex xs12 align-end flexbox>
              <span class="headline primary" style="text-transform: capitalize;">{{ album.genre }}</span>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-media>
      <v-card-title primary-title>
        <div>
          <div class="headline">{{ album.title }}</div>
        </div>
      </v-card-title>
      <v-card-actions>
        <!-- <v-btn flat>Share</v-btn> -->
        <v-btn flat color="purple" :to="'/' + album.id + '/albums/' + album.slug">Access Album</v-btn>
        <v-spacer></v-spacer>
        <v-btn icon @click.native="show = !show">
          <v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
        </v-btn>
      </v-card-actions>
      <v-slide-y-transition>
        <v-card-text v-show="show">
          {{ album.description }}
        </v-card-text>
      </v-slide-y-transition>
    </v-card>
  </v-flex>
</template>

<script scoped>
	export default {
		name: 'AlbumCard',
		props: ['album', 'user'],
		data () {
			return {
				show: false
			}
		}
	}
</script>