<template>
	<div>
		<v-data-table
    :headers="headers"
    :items="songs"
    :loading="true"
    class="elevation-1"
		:rows-per-page-items="[20,40,120,{'text':'All','value':-1}]"
  >
   <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
    <template slot="items" slot-scope="props" :playlistMenu="playlistMenu">
       <td @click.stop="playSong(props.item)">{{ props.index + 1 }}</td>
       <td @click.stop="playSong(props.item)">{{ props.item.title }}</td>
       <td @click.stop="playSong(props.item)">{{ props.item.author }}</td>
       <td @click.stop="playSong(props.item)">{{ props.item.album }}</td>
       <td>
        <v-menu bottom left>
          <v-btn icon slot="activator" dark>
            <v-icon color="primary">more_vert</v-icon>
          </v-btn>
          <v-tooltip top>
            <v-btn icon small color="white" slot="activator" @click.stop="likeSong(props.item)">
             <v-icon>fa-thumbs-up</v-icon>
            </v-btn>
            <span>like song</span>
         </v-tooltip>
         <v-tooltip top>
            <v-btn icon small color="primary" slot="activator" @click.stop="add_Song_To_Playlist(props.item)">
              <v-icon>playlist_add</v-icon>
             </v-btn>
            <span>add song to playlist</span>
         </v-tooltip>
         	<!-- <v-list>
           	<v-list-tile v-for="(item, i) in items" :key="i" @click="">
             	<v-list-tile-title>{{ item.title }}</v-list-tile-title>
           	</v-list-tile>
         	</v-list> -->
       	</v-menu>
     	</td>
    </template>
	  </v-data-table>
	    <v-dialog v-model="playlistMenu" max-width="500px" persistent>
	        <v-card>
	          <v-card-title>
	            Playlist Menu
	          </v-card-title>
	          <v-card-text>
	            <div class="">
	              <v-chip close>
	                <v-avatar>
	                  <img :src="selectedSong.src" :alt="selectedSong.name">
	                </v-avatar>
	                {{ selectedSong.name }}
	              </v-chip>
	            </div>
	            <v-select
	              :items="playlists"
	              label="Select playlist"
	              chips
	              v-model="playlist_id"
	              item-text="name"
	              max-height="auto"
	              item-value="playlist"
	              autocomplete
	            >
	              <template slot="selection" slot-scope="data">
	                <v-chip
	                  close
	                  @input="data.parent.selectItem(data.item)"
	                  :selected="data.selected"
	                  class="chip--select-multi"
	                  :key="JSON.stringify(data.item)"
	                >
	                  <v-avatar>
	                    <img :src="data.item.picture">
	                  </v-avatar>
	                  {{ data.item.name }}
	                </v-chip>
	              </template>
	              <template slot="item" slot-scope="data">
	                <template v-if="typeof data.item !== 'object'">
	                  <v-list-tile-content v-text="data.item"></v-list-tile-content>
	                </template>
	                <template v-else>
	                  <v-list-tile-avatar>
	                    <img :src="data.item.picture">
	                  </v-list-tile-avatar>
	                  <v-list-tile-content>
	                    <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
	                    <v-list-tile-sub-title v-text="data.item.privacy"></v-list-tile-sub-title>
	                  </v-list-tile-content>
	                </template>
	              </template>
	            </v-select>
	          </v-card-text>
	          <v-card-actions>
	            <v-btn color="secondary" flat @click.stop="closePlaylistMenu">Close</v-btn>
	            <v-spacer></v-spacer>
	            <v-btn color="primary" @click.stop="addSongToPlaylist" :loading="loader"
	                :disabled="loader">Add song
	              <span slot="loader" class="custom-loader">
	                  <v-icon light>cached</v-icon>
	              </span>
	            </v-btn>
	          </v-card-actions>
	        </v-card>
	    </v-dialog>
	</div>
</template>

<script>
	import { mapGetters, mapState } from 'vuex'
	export default {
		name: 'Music',

		props: ['songs'],

		data () {
			return {
	      headers: [
	        {
	          text: '#',
	          align: 'left',
	          sortable: false,
	          value: '#'
	        },
	        { text: 'TITLE', value: 'title' },
	        { text: 'ARTIST', value: 'artist' },
	        { text: 'ALBUM', value: 'album' },
	        { text: 'ACTIONS', value: 'actions' }
	      ],
	      playlistMenu: false,
				playlist_id: '',
				playlistMenu: false,
				loader: false,
				selectedSong: {
					src: '',
					name: '',
					id: ''
				},
			}
		},

	  computed: mapGetters({
	    playlists: 'playlist/playlists'
	  }),

		methods: {
		  addSongToPlaylist (song) {
		    this.loader = true
	      this.$store.dispatch('addSongToPlaylist', {playlist_id: this.playlist_id, song_id: this.selectedSong.id})
	          .then(response => {
	           	this.loader = false
	            if (response.status === 302) {
	              this.serverErrorMessage = response.body.message
	              this.errorSnackbar = true
	            } else if (response.status === 200) {
	            	this.additionalData.playlist_id = response.body.data.id
	              this.serverSuccessMessage = response.body.message
	              this.successSnackbar = true
	              this.playlistForm = false
	              this.createdPlaylist = true
	              // this.switchLayout()
	            } else if (response.status === 401) {
	              this.serverErrorMessage = 'session has expired'
	              this.errorSnackbar = true
	              this.$store.dispatch('clearAuthUser')
	            } else if (response.status === 422) {
	               // this.errorCollector(response.body, this)
	               var errors = response.body
	               var items = []
	               Object.keys(errors).forEach(function (key, self = this) {
	                      items.push(errors[key][0])
	               })
	               this.displayErrors(items, this)
	            } else {
	             this.serverErrorMessage = 'Server timeout Exception Error!!!'
	             this.errorSnackbar = true
	            }
	          }, response => {
	           // handle errors
	            this.loader = false
	        })
		    },
		    likeSong (song) {
		    	this.loader = true
	        this.$store.dispatch('likeSong', {song_id: this.song.id})
	          .then(response => {
	           	this.loader = false
	            if (response.status === 302) {
	              this.serverErrorMessage = response.body.message
	              this.errorSnackbar = true
	            } else if (response.status === 200) {
	            	this.additionalData.playlist_id = response.body.data.id
	              this.serverSuccessMessage = response.body.message
	              this.successSnackbar = true
	              this.playlistForm = false
	              this.createdPlaylist = true
	              // this.switchLayout()
	            } else if (response.status === 401) {
	              this.serverErrorMessage = 'session has expired'
	              this.errorSnackbar = true
	              this.$store.dispatch('clearAuthUser')
	            } else if (response.status === 422) {
	               // this.errorCollector(response.body, this)
	               var errors = response.body
	               var items = []
	               Object.keys(errors).forEach(function (key, self = this) {
	                      items.push(errors[key][0])
	               })
	               this.displayErrors(items, this)
	            } else {
	             this.serverErrorMessage = 'Server timeout Exception Error!!!'
	             this.errorSnackbar = true
	            }
	          }, response => {
	           // handle errors
	            this.loader = false
	        })
		    },
		    add_Song_To_Playlist (song) {
		    	this.selectedSong.src = song.pic
		    	this.selectedSong.name = song.title
		    	// this.selectedSong.id = song.id
		    	this.playlistMenu = true
		    },

	      closePlaylistMenu () {
	        this.playlistMenu = false
	        this.playlist_id = ''
	        this.selectedSong.src = ''
	        this.selectedSong.name = ''
	      },

	      playSong(song) {
	        this.$store.dispatch('player/setPlaying', song)
	      }
		}
	}
</script>