<template>
	<v-flex xs12 sm3>
    
    <v-card>
      <v-card-media
        :src="product.pic"
        :height="height"
      >
        <v-container fill-height fluid>
          <v-layout fill-height>
            <v-flex xs12 align-end flexbox>
              <span class="headline primary pa-2 white--text" style="text-transform: capitalize;" >{{ product.discount | discount }}</span>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-media>
      <v-card-title primary-title class="pb-0 pt-1">
        <div>
          <router-link tag="div" :to="'/shop/' + product.slug" class="headline product-title white--text" v-text="product.name.slice(0, 17)"></router-link>
          <div class="grey--text">
           <v-subheader class="size">{{ product | size }}</v-subheader>
           <v-spacer></v-spacer>
           <v-subheader class="body-2 price" v-if="product.discount === ''">{{product.price | currency}}</v-subheader>

           <v-subheader class="body-2" v-if="product.discount">
            <span class="price white--text">{{ product | discountedPrice }}</span> &nbsp; &nbsp;
            <s class="red--text">{{product.price | currency}}</s>
           </v-subheader>
            <v-btn :disabled="!productIsInStock(product)" color="primary" @click.stop="addToCartDialog = true"> <v-icon>fa-cart-plus</v-icon> Add To Cart</v-btn>
          </div>
        </div>
      </v-card-title>
    </v-card>
    <v-dialog v-model="addToCartDialog" max-width="500px" persistent>
        <v-card>
          <v-card-title>
            <h2>Add Product To Cart</h2>
          </v-card-title>
          <v-card-text>
            <div class="">
              <v-chip close>
                <v-avatar>
                  <img :src="product.pic" :alt="product.name">
                </v-avatar>
                {{ product.name }}
              </v-chip>
              <v-select
			          :items="product.color"
			          v-model="color"
			          label="Select color"
			          single-line
			          auto
			        ></v-select>
              <v-select
			          :items="product.size"
			          v-model="size"
			          label="Select size"
			          single-line
			          auto
			        ></v-select>
			        <div>
			        	<v-layout row>
			        		<v-flex xs6>
			        			<v-text-field
						          label="Quantity"
						          v-model="quantity"
						          prefix="Qty"
						          disabled
						        ></v-text-field>
			        		</v-flex>
			        		<v-flex xs6>
			        			<v-btn @click.stop="decrement" color="warning" small icon>
		 									<v-icon small>fa-minus</v-icon>
		 								</v-btn>
					        	<v-btn small icon color="success" @click.stop="increment">
					        		<v-icon small>fa-plus</v-icon>
					        	</v-btn>
			        		</v-flex>
			        	</v-layout>
			        </div>
            </div>
          </v-card-text>
          <v-card-actions>
            <v-btn color="secondary" flat @click.stop="close_product_dialog()">Close</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click.stop="addProductToCart()" :loading="loader"
                :disabled="loader">Add to cart
              <span slot="loader" class="custom-loader">
                  <v-icon light>cached</v-icon>
              </span>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
  </v-flex>
</template>

<script scoped>
  import {mapState, mapGetters, mapActions} from 'vuex'
  import VueNotifications from 'vue-notifications'
	export default {
		name: 'Product-Card',

		props: ['product', 'height'],

    notifications: {
      showSuccessMsg: {
        type: VueNotifications.types.success,
        title: 'Hello There',
        message: 'That\'s the success!'
      },
      showInfoMsg: {
        type: VueNotifications.types.info,
        title: 'Hey Man',
        message: 'Here is some info for you'
      },
      showWarnMsg: {
        type: VueNotifications.types.warn,
        title: 'Wow,',
        message: 'That\'s the kind of warning'
      },
      showErrorMsg: {
        type: VueNotifications.types.error,
        title: 'Wow-wow',
        message: 'That\'s the error'
      }
    },

		data () {
			return {
        loader: false,
        addToCartDialog: false,
        quantity: 0,
        color: '',
        size: ''
			}
		},
    
    components: {},

    computed: {
      ...mapGetters({
        productIsInStock: 'product/productIsInStock'
      })
    },

    methods: {
    	increment () {
	      this.quantity++
	    },
	    decrement () {
	      if(this.quantity > 0){
	        this.quantity--
	      }
      },
      addProductToCart () {
        var cartObject = {
          'id': this.product.id,
          type: 'Product',
          quantity: '',
          color: '',
          size: ''
        }
        if (this.quantity === '' || this.quantity === 0 || this.size === '' || this.color === '') {
          this.showInfoMsg({title: 'Add To Cart', message: 'Please make sure QUANTITY is not ZERO(0) and you have selected COLOR and SIZE too.', timeout: 15000})
        } else {
	        cartObject.quantity = this.quantity
	        cartObject.beatPlan = ''
	        cartObject.color = this.color
	        cartObject.size = this.size
          cartObject.inventory = this.product.inventory
	        this.$store.dispatch('cart/addProductToCart', cartObject)
	          .then(response => {
	          		this.quantity = 0
				        this.size = ''
				        this.color = ''
	              this.addToCartDialog = false
                this.showSuccessMsg({title: 'Add To Cart', message: "Item has been added to cart", timeout: 15000})
	            }, response => {
	          		this.quantity = 0
				        this.size = ''
				        this.color = ''
	              this.addToCartDialog = false
                this.showWarnMsg({title: "Add To Cart", message: "Failed to add item to cart", timeout: 15000})
	        })
        }
      },
      close_product_dialog () {
        this.addToCartDialog = false
        this.quantity = 0
        this.size = ''
        this.color = ''
      }
    }
	}
</script>

<style scoped>
  .product-title {
    cursor: pointer;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 700;
    color: #3a3a3a;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  .size {
    text-align: center;
  }
  .price {
    font-size: 18px;
    font-weight: bold;
    color: #454545;
  }
</style>