<template>
  <div class="mt-5">
    <v-tabs
      centered
      color="primary"
      slot="extension"
      slider-color="yellow"
    >
        <v-tab
          href="#lyrics"
        >
          Lyrics
        </v-tab>
        <v-tab
          href="#artist"
        >
          Artist
        </v-tab>
        <v-tab
          href="#album"
        >
          Album
        </v-tab>
      <v-tabs-items>
        <v-tab-item
          id="lyrics"
        >
          <v-card flat>
            <v-card-text v-if="playing" v-text="text"></v-card-text>
            <v-card-text v-if="!playing">Play a song and check back</v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item
          id="artist"
        >
          <v-card flat v-if="!isEmpty(artist)">
            <v-card-media :src="artist.pic" height="200px"></v-card-media>
            <v-card-title class="headline">
              {{ artist.stageName }}
            </v-card-title>
            <v-card-text v-text="artist.readmore.slice(0, 100)"></v-card-text>
            <v-card-actions>
              <v-btn color="secondary" :to="'/artiste/' + artist.slug">Visit Profile</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="primary"> <v-icon small>fa-link</v-icon> &nbsp; Follow</v-btn>
            </v-card-actions>
          </v-card>
          <h2 v-if="isEmpty(artist)">Play a song and check</h2>
        </v-tab-item>
        <v-tab-item
          id="album"
        >
          <v-card class="mt-2" flat v-if="!isEmpty(album)">
            <v-card-media :src="album.pic" height="200px"></v-card-media>
            <v-card-title class="headline">
              {{ artist.stageName }}
            </v-card-title>
            <v-card-text v-text="album.description.slice(0, 100)"></v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="secondary" :to="'/artiste/' + album.slug">View Album</v-btn>
            </v-card-actions>
          </v-card>
          <h2 v-if="isEmpty(album)">Play a song and check</h2>
        </v-tab-item>
      </v-tabs-items>
    </v-tabs>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
  export default {
    name: 'App-SiderBar',
    data () {
      return {
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
      }
    },

    computed: mapGetters({
      playing: 'player/playing',
      artist: 'player/playingArtiste',
      album: 'player/playingAlbum'
    }),

    methods: {
      isEmpty (obj) {
        let hasOwnProperty = Object.prototype.hasOwnProperty

        // null and undefined are "empty"
        if (obj == null) return true

        // Assume if it has a length property with a non-zero value
        // that that property is correct.
        if (obj.length > 0)    return false
        if (obj.length === 0)  return true

        // If it isn't an object at this point
        // it is empty, but it can't be anything *but* empty
        // Is it empty?  Depends on your application.
        if (typeof obj !== "object") return true

        // Otherwise, does it have any properties of its own?
        // Note that this doesn't handle
        // toString and valueOf enumeration bugs in IE < 9
        for (var key in obj) {
            if (hasOwnProperty.call(obj, key)) return false
        }

        return true;
      }
    }
  }
</script>