<template>
  <v-flex xs12 sm3>
    <v-card>
      <v-card-media
        :src="song.pic"
        :height="height"
      >
        <!-- <aplayer
        narrow
        mutex
        theme="#e6d0b2"
        mode="circulation"
        :music="music"
        /> -->
      </v-card-media>
      <v-card-title primary-title class="pb-0">
        <div>
          <div class="headline" v-text="song.title"></div>
          <span class="grey--text" v-text="song.genre.data.title"></span>
        </div>
      </v-card-title>
      <!-- <v-card-actions class="pt-0 pb-0">
        <v-spacer></v-spacer>
        <v-btn flat icon>
          <v-icon>fa-cart-plus</v-icon>
        </v-btn>
      </v-card-actions> -->
    </v-card>
  </v-flex>
</template>

<script scoped>
  // import Aplayer from 'vue-aplayer'
  export default {
    name: 'Song-Card',
    props: ['song', 'height'],
    data () {
      return {

      }
    },
    components: {
      // Aplayer
    },
    computed: {
      music () {
        return {
          title: this.song.name,
          author: this.song.profile.data.stageName,
          url: this.song.url,
          pic: this.song.pic
        }
      }
    }
  }
</script>