<template>
	<v-flex xs12 sm3>
    <v-card>
      <v-card-media
        :src="video.pic"
        :height="height"
      >
        <v-btn icon large color="primary" @click.stop="playVideo(video)">
        	<v-icon>fa-play-circle</v-icon>
        </v-btn>
      </v-card-media>
      <v-card-title primary-title class="pb-0">
        <div>
          <div class="headline" v-text="video.name"></div>
          <span class="grey--text" v-text="video.album.data.title"></span>
        </div>
      </v-card-title>
      <v-card-actions class="pt-0 pb-0">
        <v-spacer></v-spacer>
        <v-btn flat icon>
          <v-icon>fa-cart-plus</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-dialog v-model="videoPlayer">
	      <v-card>
	        <v-card-title class="headline">Video Player</v-card-title>
	        <v-card-text>
	        	<!-- <d-player ref="player"></d-player> -->
	        	<v-container grid-list-xs>
	        		<v-layout row wrap>
	        			<v-flex xs12 md8>
	        				<video-player  class="video-player-box"
			              ref="videoPlayer"
			              :options="{
			              	muted: true,
						          language: 'en',
						          playbackRates: [0.7, 1.0, 1.5, 2.0],
						          sources: [{
						            type: 'video/mp4',
						            src: video.url
						          }],
						          poster: video.pic,
			            	}"
			              :playsinline="true"
			              @play="onPlayerPlay($event)"
			              @pause="onPlayerPause($event)"
			              @ended="onPlayerEnded($event)"
			              @waiting="onPlayerWaiting($event)"
			              @playing="onPlayerPlaying($event)"
			              @loadeddata="onPlayerLoadeddata($event)"
			              @timeupdate="onPlayerTimeupdate($event)"
			              @canplay="onPlayerCanplay($event)"
			              @canplaythrough="onPlayerCanplaythrough($event)"

			              @statechanged="playerStateChanged($event)"
			              @ready="playerReadied">
			  					</video-player>
	        			</v-flex>
	        			<v-flex md4></v-flex>
	        		</v-layout>
	        	</v-container>
	        </v-card-text>
	        <v-card-actions>
	          <v-spacer></v-spacer>
	          <v-btn color="green darken-1" flat="flat" to="/login">Close player</v-btn>
	          <v-btn color="green darken-1" flat="flat" @click.stop="videoPlayer = false">Minimize player</v-btn>
	        </v-card-actions>
	      </v-card>
	  </v-dialog>
  </v-flex>
</template>

<script scoped>
	export default {
		name: 'Video-Card',
		props: ['video', 'height'],
		data () {
			return {
				videoPlayer: false,
				playerOptions: {
          // videojs options
          muted: true,
          language: 'en',
          playbackRates: [0.7, 1.0, 1.5, 2.0],
          sources: [{
            type: "video/mp4",
            src: "https://cdn.theguardian.tv/webM/2015/07/20/150716YesMen_synd_768k_vp8.webm"
          }],
          poster: "/static/images/author.jpg",
        }
			}
		},
		mounted() {
      // this.playerOptions.sources.src = this,video.url
      // this.playerOptions.poster = this.video.pic
    },
    components: {},
    computed: {
      player() {
        return this.$refs.videoPlayer.player
      }
    },
    methods: {
    	playVideo (video) {
    		this.videoPlayer = true
    	},
      // listen event
      onPlayerPlay(player) {
        // console.log('player play!', player)
      },
      onPlayerPause(player) {
        // console.log('player pause!', player)
      },
      onPlayerEnded(player) {

      },
      onPlayerWaiting (player) {

      },
      onPlayerPlaying (player) {

      },
      onPlayerLoadeddata (player) {

      },
      onPlayerTimeupdate (player) {

      },
      onPlayerCanplay (player) {

      },
      onPlayerCanplaythrough (player) {

      },
      // ...player event

      // or listen state event
      playerStateChanged(playerCurrentState) {
        // console.log('player current update state', playerCurrentState)
      },

      // player is ready
      playerReadied(player) {
        console.log('the player is readied', player)
        // you can use it to do something...
        // player.[methods]
      }
    }
	}
</script>

<style>
	.video-js {
		max-width: 100% !important;
	}

  /*.vjs_video_37587-dimensions {
        width: 1280px;
        height: 720px;
  }

  .vjs_video_37587-dimensions.vjs-fluid {
        padding-top: 56.25%;
  }*/
</style>