<template>
	<v-flex xs12>
		<v-card :to="'/news/' + ad.slug">
			<v-card-media
				:src="ad.pic"
				height="200px"
			>
				<v-container fill-height fluid>
						<v-layout fill-height>
							 <v-flex xs12 align-end flexbox>
							   <span class="headline white--text black" style="font-size:19px !important;" v-text="ad.title"></span>
							 </v-flex>
						</v-layout>
				</v-container>
			</v-card-media>
			<v-card-title>
				<div>
					{{ ad.readmore.slice(0, 88) }}
				</div>
			</v-card-title>
			<!-- <v-card-actions class="white">
					<v-spacer></v-spacer>
					<v-btn icon>
							<v-icon>fa-eye</v-icon>
					</v-btn>
			</v-card-actions> -->
		</v-card>
	</v-flex>
</template>

<script scope>
	export default {
		name: 'PNews',
		props: ['ad'],
		data () {
			return {}
		}
	}
</script>