<template>
	<v-layout wrap row mt-4>
		<v-comment v-for="(comment, index) in comments" :key="index" :comment="comment"></v-comment>												
	</v-layout>
</template>

<script scoped>
	import Comment from './Comment'
	export default {
		name: 'Comments',
		props: ['comments'],
		data () {
			return {

			}
		},
		components: {
			'v-comment': Comment
		}
	}
</script>