<template>
	<v-container fluid>
		<v-layout row wrap>
			<v-flex xs12>
				<v-card color="black" class="white--text album--card">
          <v-container fluid grid-list-lg>
            <v-layout row>
              <v-flex xs5>
                <v-card-media
                  :src="album.pic"
                  height="300px"
                  contain
                >
                	<v-container fill-height fluid>
					          <v-layout fill-height>
					            <v-flex xs12 align-end flexbox>
					              <v-btn icon color="amber" @click.stop="playAlbum(songs)">
					              	<v-icon large>fa-play-circle</v-icon>
					              </v-btn>
					              <v-spacer></v-spacer>
												<v-btn icon color="amber" @click.stop="likeAlbum(album)">
												 <v-icon medium>fa-thumbs-up</v-icon>
												</v-btn>
					            </v-flex>
					          </v-layout>
					        </v-container>
                </v-card-media>
              </v-flex>
              <v-flex xs7>
                <div>
                  <div class="headline secondary--text">{{ album.title }}</div>
                  <a href="/profiles/the-king">
	                  <v-chip style="cursor:pointer;">
					            <v-avatar>
					              <img src="/songs/belle-weh.jpg" alt="The King">
					            </v-avatar>
					            The King
					          </v-chip>
                  </a>
                  <social-sharing 
						        url="domain"
						        title="title"
						        description="meta.description"
						        quote="Hell facebook"
						        hashtags="test, hello,"
						        twitter-user="mad237"
						        inline-template
						      >
						      <div>
						         <network network="facebook">
						            <v-btn fab dark small color="blue darken-4">
						                <v-icon dark>fa-facebook</v-icon>
						            </v-btn>
						         </network>
						         <network network="twitter">
						            <v-btn fab dark small color="blue darken-4">
						              <v-icon dark>fa-twitter</v-icon>
						            </v-btn>
						         </network>
						         <network network="googleplus">
						            <v-btn fab dark small color="red accent-4">
						              <v-icon dark>fa-google-plus</v-icon>
						            </v-btn>
						         </network>
						         <network network="linkedin">
						            <v-btn fab dark small color="blue darken-4">
						              <v-icon dark>fa-linkedin</v-icon>
						            </v-btn>
						         </network>
						         <network network="pinterest">
						            <v-btn fab dark small color="red accent-4">
						              <v-icon dark>fa-pinterest</v-icon>
						            </v-btn>
						         </network>
						         <network network="skype">
						            <v-btn fab dark small color="cyan darken-1">
						              <v-icon dark>fa-skype</v-icon>
						            </v-btn>
						         </network>
						         <network network="whatsapp">
						            <v-btn fab dark small color="green darken-4">
						              <v-icon dark>fa-whatsapp</v-icon>
						            </v-btn>
						         </network>
						        </div>
						      </social-sharing>
						      <h2 class="mt-2 secondary--text">Description</h2>
						      <hr />
						      <div class="album--description">
						      	{{ album.description }}
						      </div>
						      <v-layout row wrap>
						      	<v-flex xs6>
						      		<span class="title secondary--text">
								      	<v-icon small>fa-thumbs-up</v-icon>
								      	6 likes
								    	</span>
						      	</v-flex>
						      	<v-flex xs6>
						      		<span class="title secondary--text">12 Tracks</span>
						      	</v-flex>
						      </v-layout>
                </div>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
			</v-flex>
		</v-layout>
		<v-layout wrap row>
			<v-flex xs12>
				<v-music :songs="songs"></v-music>
			</v-flex>
		</v-layout>
		<v-layout wrap row class="white">
			<v-flex xs12 class="mt-3">
				<h3 class="display-1">Review(s)</h3>
			</v-flex>
			<v-flex xs12 class="pl-3 pr-3">
				<v-form>
					<v-text-field
						box
						light
			      label="Review"
			      placeholder="enter review here"
			      v-model="review"
			      textarea
            :error-messages="errors.collect('review')"
            v-validate="'required'"
            data-vv-name="review"
            required
			    ></v-text-field>
			    <v-spacer></v-spacer>
			    <v-btn color="blue" @click.stop="postReview">post review</v-btn>
				</v-form>
			</v-flex>
		</v-layout>
		<v-layout wrap row mt-4 class="white scroll-y" style="max-height: 500px">
			<v-flex xs12>
				<v-container>
					<v-layout row wrap>
						<v-flex xs1>
							<v-avatar size="50">
					      <img src="/songs/belle-weh.jpg" alt="Mad237">
					    </v-avatar> 
						</v-flex>
						<v-flex xs11>
							<span class="grey--text title">shadomax</span> -- <span class="grey--text lighten-1 caption">2 seconds ago</span>
							<div v-text="">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
						</v-flex>
					</v-layout>
				</v-container>
			</v-flex>
			<hr class="primary--text" />
			<v-flex xs12>
				<v-container>
					<v-layout row wrap>
						<v-flex xs1>
							<v-avatar size="50">
					      <img src="/songs/belle-weh.jpg" alt="Mad237">
					    </v-avatar> 
						</v-flex>
						<v-flex xs11>
							<span class="grey--text title">shadomax</span> -- <span class="grey--text lighten-1 caption">2 seconds ago</span>
							<div v-text="">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
						</v-flex>
					</v-layout>
				</v-container>
			</v-flex>
		</v-layout>
		<v-layout wrap row class="mt-2">
			<v-flex xs12>
				<h1 class="display-2">Related Albums</h1>
			</v-flex>
			<v-flex xs12>
				<v-layout row wrap>
					<v-album-card v-for="(album, index) in albums" :key="index" :album="album" :user="user"></v-album-card>
				</v-layout>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script scoped>
	import { mapGetters, mapState } from 'vuex'
	import Song from '@/components/Song'
	import Music from '@/components/Music.vue'
	import AlbumCard from '@/components/AlbumCard'
	export default {
		name: 'Album',
    $_veeValidate: {
      validator: 'new'
    },
		data () {
			return {
				review: '',
        dictionary: {
          attributes: {
            review: 'Review'
          },
          custom: {
            review: {
              required: () => 'Album review can not be empty',
            },
          }
        }
			}
		},
		computed: {
    	...mapGetters({
        albums: 'music/albums',
        user: 'auth/user',
        songs: 'music/songs',
        // album: 'music/album'
      }),
      album () {
      	return this.$store.getters['music/album'](this.$route.params.slug)
      }
	  },
		components: {
			'v-song': Song,
    	'v-music': Music,
			'v-album-card': AlbumCard
		},
		methods: {
			likeAlbum (album) {
				this.$store.dispatch('likeAlbum', {album_id: album.id})
					.then(response => {
						if (response.status === 200) {
							this.emitSuccessNotify(response.body)
						} else if (response.status === 304) {
							this.emitErrorNotify(response.body.error)
						} else {
							let postMessage = {
								message: response.statusText
							}
							this.emitErrorNotify(postMessage)
						}
					}, response => {
						let postMessage = {
							message: response.statusText
						}
						this.emitErrorNotify(postMessage)
					})
			},
			postReview () {
        this.$validator.validateAll({
        	review: this.review
        }).then(result => {
          if (result) {
            this.$store.dispatch('reviewAlbum', {album_id: this.album.id, review: this.review})
              .then(response => {
                if (response.status === 200) {
                  this.emitSuccessNotify(response.body)
                } else if (response.status === 404) {
                  this.emitErrorNotify(response.body.error)
                } else if (response.status === 422) {
                  var errors = response.body.errors
                  var items = []
                  Object.keys(errors).forEach(function (key, self = this) {
                    items.push(errors[key][0])
                  })
                  this.displayErrors(items, this)
                } else {
                  let postMessage = {
                  	message: response.statusText
                  }
                  this.emitErrorNotify(postMessage)
                 }
              }, response => {
                let postMessage = {
                  	message: response.statusText
                  }
                  this.emitErrorNotify(postMessage)
              })
          } else {
            this.errorCollector(this.errors.items, this)
          }
        })
      },
	    playAlbum (payload) {
	    	this.$events.fire('albumplayer', payload);
	    },
      emitErrorNotify (payload) {
        this.$events.fire('errorSnackbar', payload);
      },
      emitSuccessNotify (payload) {
        this.$events.fire('successSnackbar', payload);
      },
      errorCollector (items, self) {
        for (var i = 0, len = items.length; i < len; i++) {
          (function (i) {
            setTimeout(function () {
              var x = (i === 0) ? 0.5 : i / 2
              var time = 10000 * x
              var speed = 1000 * x
              self.$notify({ group: 'app-template', text: items[i].msg.replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
            }, 1500 * i)
          })(i)
        }
      },
      displayErrors (items, self) {
        for (var i = 0, len = items.length; i < len; i++) {
          (function (i) {
            setTimeout(function () {
              var x = (i === 0) ? 0.5 : i / 2
              var time = 10000 * x
              var speed = 1000 * x
              self.$notify({ group: 'app-template', text: items[i].replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
            }, 1500 * i)
          })(i)
        }
      }
		},
    mounted () {
      this.$validator.localize('en', this.dictionary)
      // this.$store.dispatch('getAlbums')
      console.log(this.$store.getters)
    },
	}
</script>

<style>
	.chip .chip__content {
		cursor: pointer;
	}
	.album--card {
		border-bottom-left-radius: 15px;
	}
	.album--description {
		overflow-y:auto; 
		overflow-x:hidden; 
		width:600px; 
		height:150px;
	}
</style>