<template>
	<v-container fluid>
		<v-subheader class="display-3">Album(s) Library</v-subheader>
		<v-layout row wrap>
			<v-album-card v-for="(album, index) in albums" :key="index" :album="album" :user="user"></v-album-card>
		</v-layout>
		<v-btn color="primary" @click="loadMore($album.meta)" :loading="loader"
       :disabled="loader">Load More
      <span slot="loader" class="custom-loader">
        <v-icon light>cached</v-icon>
      </span>
    </v-btn>
	</v-container>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import AlbumCard from '@/components/AlbumCard'
export default {
  middleware: 'auth',

	name: 'Albums',

  head () {
    return { title: 'Albums Library' }
  },

	data () {
		return {
			loader: false
		}
	},

  computed: mapGetters({
    albums: 'music/albums',
    user: 'auth/user'
  }),

	components: {
		'v-album-card': AlbumCard
	},
}
</script>