<template>
	<v-container>
		<v-subheader class="display-1">All Songs</v-subheader>
		<v-layout row wrap>
      <v-flex xs12>
        <v-spacer></v-spacer>
        <v-btn color="black" dark v-if="pagination.current_page !== pagination.total_pages" @click.stop="fetchMore(pagination.links.next)" :loading="loader"
          :disabled="loader">load more
          <span slot="loader" class="custom-loader">
            <v-icon light>cached</v-icon>
          </span>
        </v-btn>
      </v-flex>
	    <v-flex xs12 class="blue lighten-3">
        <v-music :songs="songs" />
	    </v-flex>
	  </v-layout>
	</v-container>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import Song from '@/components/Song.vue'
import Music from '@/components/Music.vue'
export default {
  middleware: 'auth',

  head () {
    return { title: 'Music Library' }
  },

  data () {
    return {
      loader: false
    }
  },

  components: {
    'v-song': Song,
    'v-music': Music
  },

  computed: mapGetters({
    songs: 'music/songs',
    pagination: 'music/songMeta'
  }),

  created () {
    this.$store.dispatch('music/fetchSongs')
  },

  methods: {  
    async fetchMore (url) {   
      this.loader = true
      await this.$store.dispatch('music/fetchMoreSongs', {url})
      this.loader = false
    },
  }
}
</script>

<style>
	.aplayer-list-author {
    color: #666;
    /*// float: right;*/
    cursor: pointer;
  }
  .aplayer-list-pic {
    width: 64px !important;
    height: 64px !important;
  }
</style>