<template>
  <div>
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
          <v-card class="elevation-12">
            <v-toolbar dark color="primary">
              <v-toolbar-title>Login</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-tooltip bottom>
                <v-btn
                  icon
                  large
                  :to="{name:'register'}"
                  target="_blank"
                  slot="activator"
                >
                  <v-icon large>fa-user-plus</v-icon>
                </v-btn>
                <span>Create Account</span>
              </v-tooltip>
            </v-toolbar>
            <v-card-text>
              <small>*indicates required field</small>
              <v-form>
                <v-text-field 
                  prepend-icon="fa-at" 
                  name="username" 
                  label="Username" 
                  type="text" 
                  v-model="username"
                  :error-messages="errors.collect('username')"
                  v-validate="'required'"
                  data-vv-name="username"
                  required
                ></v-text-field>
                <v-text-field 
                  prepend-icon="lock" 
                  name="password" 
                  label="Password" 
                  id="password" 
                  type="password" 
                  v-model="password"
                  :error-messages="errors.collect('password')"
                  v-validate="'required'"
                  data-vv-name="password"
                  required
                ></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-menu
                transition="slide-x-transition"
                bottom
                right
              >
                <v-btn light color="black white--text" slot="activator" class="">
                  More Options
                </v-btn>
                <v-list>
                  <v-list-tile to="/forgot_password">
                    <v-list-tile-title>Forgot Your Password</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile to="/register">
                    <v-list-tile-title>Create Account</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
              <v-spacer></v-spacer>
              <v-btn v-if="username && password" color="primary" @click.stop="login" :loading="loader"
                :disabled="loader">Login
                <span slot="loader" class="custom-loader">
                  <v-icon light>cached</v-icon>
                </span>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Login',

  head () {
    return { title: 'Login' }
  },

  $_veeValidate: {
    validator: 'new'
  },

  data: () => ({
    appName: process.env.appName,
    username: '',
    password: '',
    loader: false,
    remember: false,
    dictionary: {
      attributes: {
        username: 'Username',
        password: 'Password'
      },
      custom: {
        username: 'Username can not be empty'
      }
    }
  }),

  methods: {
    async login () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.loader = true
          // Submit the form.
          axios.post('/login', {username: this.username, password: this.password})
          .then(response => {
            // Save the token.
            this.$store.dispatch('auth/saveToken', {
              token: response.data.token,
              remember: this.remember
            })

            // Fetch the user.
            this.$store.dispatch('auth/fetchUser')

            this.loader = false

            // Redirect home.
            this.$router.push('/' + this.username + '/home')
          })
          .catch(error => {
            this.loader = false
            if (error.response.status === 409) {
              this.emitErrorNotify(error.response.data)
            } else if (error.response.status === 400) {
              this.$store.dispatch('auth/fetchUser')
              .then(response => {
                // Redirect home.
                this.$router.push('/' + this.username + '/home')
              })
            } else if (error.response.status === 422) {
              var errors = error.response.data.errors
              var items = []
              Object.keys(errors).forEach(function (key, self = this) {
                items.push(errors[key][0])
              })
              this.displayErrors(items, this)
            }
          })
        }
      })
    },
    emitErrorNotify (payload) {
      this.$events.fire('errorSnackbar', payload);
    },
    emitSuccessNotify (payload) {
      this.$events.fire('successSnackbar', payload);
    },
    displayErrors (items, self) {
      for (var i = 0, len = items.length; i < len; i++) {
        (function (i) {
          setTimeout(function () {
            var x = (i === 0) ? 0.5 : i / 2
            var time = 10000 * x
            var speed = 1000 * x
            self.$notify({ group: 'app-template', text: items[i].replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
          }, 1500 * i)
        })(i)
      }
    }
  }
}
</script>
