<template>
  <div>
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
          <v-card class="elevation-12">
            <v-toolbar dark color="primary">
              <v-toolbar-title>Create Account</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-tooltip bottom>
                <v-btn
                  icon
                  large
                  :to="{name:'login'}"
                  target="_blank"
                  slot="activator"
                >
                  <v-icon large>fa-lock</v-icon>
                </v-btn>
                <span>Login</span>
              </v-tooltip>
            </v-toolbar>
            <v-card-text>
              <small>*indicates required field</small>
              <v-form>
                <v-text-field
                  v-model="name"
                  label="Full Name"
                  :error-messages="errors.collect('name')"
                  v-validate="'required|min:6'"
                  data-vv-name="name"
                  required
                ></v-text-field>
                <v-text-field 
                  v-if="name"
                  name="email" 
                  label="email" 
                  type="email" 
                  v-model="email"
                  :error-messages="errors.collect('email')"
                  v-validate="'required|email'"
                  data-vv-name="email"
                  required
                ></v-text-field>
                <v-text-field
                  v-if="email"
                  name="username" 
                  label="Username" 
                  type="text" 
                  v-model="username"
                  :error-messages="errors.collect('username')"
                  v-validate="'required'"
                  data-vv-name="username"
                  required
                ></v-text-field>
                <v-text-field
                  v-if="username"
                  prepend-icon="lock" 
                  name="password" 
                  label="Password" 
                  id="password" 
                  type="password" 
                  v-model="password"
                  :error-messages="errors.collect('password')"
                  v-validate="'required'"
                  data-vv-name="password"
                  required
                ></v-text-field>
                <v-text-field
                  v-if="password"
                  prepend-icon="lock" 
                  name="confirm_password" 
                  label="Password Confirmation" 
                  id="confirm_password" 
                  type="password" 
                  v-model="confirm_password"
                  :error-messages="errors.collect('confirm_password')"
                  v-validate="'confirmed:password'"
                  data-vv-name="confirm_password"
                  required
                ></v-text-field>
              </v-form>
              <p>
                By signing up you agree to {{ appName }}'s <a href="#">Privacy Policy</a> and <a href="#">Terms of Use</a>
              </p>
            </v-card-text>
            <v-card-actions>
              <v-menu
                transition="slide-x-transition"
                bottom
                right
              >
                <v-btn light color="black white--text" slot="activator" class="">
                  More Options
                </v-btn>
                <v-list>
                  <v-list-tile to="/login">
                    <v-list-tile-title>Manage My Account</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile to="/verify">
                    <v-list-tile-title>Verify My Account</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
              <v-spacer></v-spacer>
              <v-btn v-if="confirm_password" color="primary" @click.stop="register" :loading="loader"
                :disabled="loader">Register Now
                <span slot="loader" class="custom-loader">
                  <v-icon light>cached</v-icon>
                </span>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Register',

  $_veeValidate: {
    validator: 'new'
  },

  head () {
    return { title: 'Register' }
  },

  data: () => ({
    appName: process.env.appName,
    e1: 0,
    name: '',
    email: '',
    username: '',
    password: '',
    confirm_password: '',
    loader: false,
    dictionary: {
      attributes: {
        email: 'E-mail Address',
        confirm_password: 'Password',
        username: 'Username'
      },
      custom: {}
    }
  }),

  watch: {},

  methods: {
    queryCountries (v) {
      this.loadingCountry = true
      axios.get('/search/country?q=' + v)
      .then(response => {
        this.countries = response.data.data
        this.loadingCountry = false
      }, response => {
        this.countries = []
      })
    },
    queryStates (v) {
      this.loadingState = true
      axios.get('/search/state?q=' + v + '&country_id=' + this.country_id)
      .then(response => {
        this.states = response.data.data
        this.loadingState = false
      }, response => {
        this.states = []
      })
    },
    queryCities (v) {
      this.loadingCity = true
      axios.get('/search/city?q=' + v + '&state_id=' + this.state_id)
      .then(response => {
        this.cities = response.data.data
        this.loadingCity = false
      }, response => {
        this.cities = []
      })
    },
    register () {
      this.$validator.validateAll()
      .then(result => {
        if (result) {
          this.loader = true
          // Register the user.
          axios.post('/register', {username: this.username, password: this.password, password_confirmation: this.confirm_password, email: this.email, name: this.name})
          .then(response => {
            // Log in the user.
            axios.post('/login', {username: this.username, password: this.password})
            .then(response => {
              // Save the token.
              this.$store.dispatch('auth/saveToken', { token: response.data.token })

              // Fetch the user.
              this.$store.dispatch('auth/fetchUser')

              this.loader = false

              // Redirect home.
              this.$router.push('/' + this.username + '/home')
            })
          })
          .catch(error => {
            this.loader = false
            if (error.response.status === 409) {
              this.emitErrorNotify(error.response.data)
            } else if (error.response.status === 400) {
              // Fetch the user.
              this.$store.dispatch('auth/fetchUser')
              .then(response => {
                // Redirect home.
                this.$router.push('/' + this.username + '/home')
              })
            } else if (error.response.status === 422) {
              var errors = error.response.data.errors
              var items = []
              Object.keys(errors).forEach(function (key, self = this) {
                items.push(errors[key][0])
              })
              this.displayErrors(items, this)
            }
          })
        }
      }) 
    },
    emitErrorNotify (payload) {
      this.$events.fire('errorSnackbar', payload);
    },
    emitSuccessNotify (payload) {
      this.$events.fire('successSnackbar', payload);
    },
    displayErrors (items, self) {
      for (var i = 0, len = items.length; i < len; i++) {
        (function (i) {
          setTimeout(function () {
            var x = (i === 0) ? 0.5 : i / 2
            var time = 10000 * x
            var speed = 1000 * x
            self.$notify({ group: 'app-template', text: items[i].replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
          }, 1500 * i)
        })(i)
      }
    }
  },
  mounted () {
    this.$validator.localize('en', this.dictionary)
  }
}
</script>
