<template>
  <v-container fluid>
     <v-layout row wrap>
       <v-flex xs12 md4 offset-md4>
        <div :class="{'is-waiting': loader}">
          <v-card>
            <v-toolbar class="primary" dark>
              <v-spacer></v-spacer>
              <v-toolbar-title>Account Verification</v-toolbar-title>
            </v-toolbar>
           <v-card-text>
              <h6 class="title mb-0"><small class="title-caption">*indicates required field</small></h6>          
              <v-form>
                <v-text-field
                  label="Enter verification code"
                  hint="enter verification code"
                  v-model="v_code"
                  id="v_code"
                  type="text"
                  name="v_code"
                  required
                  v-validate="'required'"
                  data-vv-name="v_code"
                  :error-messages="errors.collect('v_code')"
                ></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions>
              
              <v-menu offset-y>
                <v-btn color="black" dark slot="activator">Other options</v-btn>
                <v-list>
                  <v-list-tile to="/login">
                    <v-list-tile-title>Manage Your Account</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile to="/register">
                    <v-list-tile-title>Create An Account</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
              <v-spacer></v-spacer>
              <v-btn color="secondary" @click.stop="verifyAccount" :disabled="(v_code) ? false : true">Verify Account</v-btn>
            </v-card-actions>
          </v-card>
        </div>
       </v-flex>
     </v-layout>  
   </v-container>
</template>

<script scoped>
 import axios from 'axios'
 export default {
  head () {
    return { title: 'Account Verification' }
  },

   name: 'account-verification',

    $_veeValidate: {
      validator: 'new'
    },

   data () {
     return {
       v_code: '',
       loader: false,
        dictionary: {
          attributes: {
            v_code: 'Verification code',
          },
          custom: {}
        }
     }
   },
   created () {
    this.assignVCode()
   },
   watch: {},
   methods: {
    assignVCode () {
      if (this.$route.query.hasOwnProperty('code')) {
        this.v_code = this.$route.query.code
        this.verifyAccount()
      }
    },
    async verifyAccount () {
      this.loader = true
      try {
        const { data } = await axios.patch('/verify/' + this.v_code)
        console.log(data)
        // Log in the user.
        axios.post('/login', {username: data.username, password: data.password})
        .then(response => {
          // Save the token.
          this.$store.dispatch('auth/saveToken', { token: response.data.token })

          // Fetch the user.
          this.$store.dispatch('auth/fetchUser')

          this.loader = false

          // Redirect home.
          this.$router.push('/' + data.username + '/home')
        })
        console.log('true')
      } catch(e) {
        console.log('false')
        // statements
        this.loader = false
        if (e.response.status === 409) {
          this.emitErrorNotify(error.response.data)
        } else if (e.response.status === 404) {
          this.emitErrorNotify(e.response.data)
        } else if (e.response.status === 422) {
          var errors = e.response.data.errors
          var items = []
          Object.keys(errors).forEach(function (key, self = this) {
            items.push(errors[key][0])
          })
          this.displayErrors(items, this)
        }
        //  else {
        //   this.emitErrorNotify(e.response.data)
        // }
      }
    },
    emitErrorNotify (payload) {
      this.$events.fire('errorSnackbar', payload);
    },
    emitSuccessNotify (payload) {
      this.$events.fire('successSnackbar', payload);
    },
    displayErrors (items, self) {
      for (var i = 0, len = items.length; i < len; i++) {
        (function (i) {
          setTimeout(function () {
            var x = (i === 0) ? 0.5 : i / 2
            var time = 10000 * x
            var speed = 1000 * x
            self.$notify({ group: 'app-template', text: items[i].replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
          }, 1500 * i)
        })(i)
      }
    }
   },
  mounted () {
    this.$validator.localize('en', this.dictionary)
  }
}
</script>

<style lang="scss" scoped>

</style>