<template>
	<v-container fluid>
    <v-layout row wrap>
    	<v-flex xs12 sm12 md8 lg8 class="pr-2">
    		<v-card>
	        <v-card-media
	          class="white--text"
	          height="900px"
	          :src="blog.pic"
	        >
	          <v-container fill-height fluid>
	            <v-layout fill-height>
	              <v-flex xs12 align-end flexbox>
	                <span class="headline" v-text="blog.title"></span>
	              </v-flex>
	            </v-layout>
	          </v-container>
	        </v-card-media>
	        <v-card-title>
	        	<v-layout wrap row>
	        		<v-flex xs6>
	        			<h3 class="grey--text" v-text="blog.category.data.title"></h3>
	        			<h3 v-text="blog.title"></h3>
	        		</v-flex>
	        		<v-flex xs6>
	        			<h4 class="grey--text text-xs-right title"> <v-icon>fa-calendar</v-icon> {{ blog.created }}</h4>
	        		</v-flex>
	        	</v-layout>
	        </v-card-title>
	        <v-card-actions>
	        	<social-sharing 
			        :url="this.$route.fullPath"
			        :title="blog.title"
			        :description="blog.description"
			        :quote="blog.quote"
			        :hashtags="blog.hashTags"
			        :twitter-user="appName"
			        inline-template
			      >
			      <div>
			         <network network="facebook">
			            <v-btn fab dark small color="blue darken-4">
			                <v-icon dark>fa-facebook</v-icon>
			            </v-btn>
			         </network>
			         <network network="twitter">
			            <v-btn fab dark small color="blue darken-4">
			              <v-icon dark>fa-twitter</v-icon>
			            </v-btn>
			         </network>
			         <network network="googleplus">
			            <v-btn fab dark small color="red accent-4">
			              <v-icon dark>fa-google-plus</v-icon>
			            </v-btn>
			         </network>
			         <network network="linkedin">
			            <v-btn fab dark small color="blue darken-4">
			              <v-icon dark>fa-linkedin</v-icon>
			            </v-btn>
			         </network>
			         <network network="pinterest">
			            <v-btn fab dark small color="red accent-4">
			              <v-icon dark>fa-pinterest</v-icon>
			            </v-btn>
			         </network>
			         <network network="skype">
			            <v-btn fab dark small color="cyan darken-1">
			              <v-icon dark>fa-skype</v-icon>
			            </v-btn>
			         </network>
			         <network network="sms">
			            <v-btn fab dark small color="secondary">
			              <v-icon dark>fa-commenting-o</v-icon>
			            </v-btn>
			         </network>
			         <network network="whatsapp">
			            <v-btn fab dark small color="green darken-4">
			              <v-icon dark>fa-whatsapp</v-icon>
			            </v-btn>
			         </network>
			        </div>
			      </social-sharing>
			      <v-spacer></v-spacer>
			      <h4 class="grey--text"><v-icon>remove_red_eye</v-icon> 122</h4>
	        </v-card-actions>
	      </v-card>

	      <v-tabs fixed centered color="primary">
	      	<v-tab href="#detail">
	      		<v-btn color="secondary">Description</v-btn>
	      	</v-tab>
	      	<v-tab href="#video">
	      		<v-btn color="secondary">Video</v-btn>
	      	</v-tab>
	      	<v-tab href="#comment">
	      		<v-btn color="secondary">Comments({{ blog.total_comment }})</v-btn>
	      	</v-tab>
			    <v-tabs-items>
			      <v-tab-item
			        id="detail"
			      >
			      	<v-container  class="">
				        <v-layout row wrap>
			        		<v-detail :decription="blog.description"></v-detail>
				        </v-layout>
				      </v-container>
			      </v-tab-item>
			      <v-tab-item
			        id="video"
			      >
			        <v-container  class="grey lighten-4">
				        <v-layout row wrap>
				          <v-video></v-video>
				        </v-layout>
				    </v-container>
			      </v-tab-item>
			      <v-tab-item
			        id="comment"
			      >
			        <v-container  class="grey lighten-4">
				        <v-layout row wrap>
				          <v-flex xs12 md8>
					        <v-card>
					          <v-toolbar color="secondary" dark>
					            <v-icon color="white">arrow_back</v-icon>
					            <v-toolbar-title>Comment</v-toolbar-title>
					            <v-spacer></v-spacer>
					            <v-btn icon @click.stop="postComent">
					            	<v-icon color="white">send</v-icon>
					            </v-btn>
					          </v-toolbar>
					          <v-container fluid class="pa-0 mt-2">
					              <v-flex xs12 class="text-xs-right">
					                <v-text-field
					                  label="Name"
					                  v-model="name"
					                  single-line
					                  full-width
					                  :error-messages="errors.collect('name')"
					                  v-validate="'required'"
					                  data-vv-name="name"
					                  required
					                ></v-text-field>
					              </v-flex>
					              <v-flex xs12>
					                <v-divider></v-divider>
					                <v-text-field
					                  label="Email"
					                  v-model="email"
					                  single-line
					                  full-width
					                  :error-messages="errors.collect('email')"
					                  v-validate="'required|email'"
					                  data-vv-name="email"
					                  required
					                ></v-text-field>
					              </v-flex>
					              <v-flex xs12>
					                <v-divider></v-divider>
					                <v-text-field
					                  label="Comment"
					                  v-model="comment"
					                  min="20"
					                  full-width
					                  multi-line
					                  single-line
					                  :error-messages="errors.collect('comment')"
					                  v-validate="'required|min:20'"
					                  data-vv-name="comment"
					                  required
					                ></v-text-field>
					              </v-flex>
					          </v-container>
					        </v-card>
					      </v-flex>
				      </v-layout>
				      <v-comments v-if="blog.comments.data" :comments="blog.comments.data" />
				    </v-container>
			      </v-tab-item>
			    </v-tabs-items>
			  </v-tabs>
    	</v-flex>

    	<v-flex xs12 sm12 md3 offset-md class="ml-5">
        <v-promotion></v-promotion>
      </v-flex>
    </v-layout>
	</v-container>
</template>

<script>
	import axios from 'axios'
	import { mapGetters } from 'vuex'
	import Video from '@/components/news/Video.vue'
	import Detail from '@/components/news/Detail.vue'
	import VueNotifications from 'vue-notifications'
	import Comments from '@/components/comment/Comments.vue'
  import Promotion from '@/components/Promotions/Index.vue'
	export default {
    name: 'blog',

    head () {
      return { title: this.blog.title }
    },

		asyncData ({ params, error }) {
	    return axios.get(process.env.blogApi + `/get_blog_by_slug/${params.slug}`)
	    .then((res) => {
	      return { blog: res.data.data }
	    })
	    .catch((e) => {
	      error({ statusCode: 404, message: 'Blog Post Not found' })
	    })
	  },

	  notifications: {
	    showSuccessMsg: {
	      type: VueNotifications.types.success,
	      title: 'Hello There',
	      message: 'That\'s the success!'
	    },
	    showInfoMsg: {
	      type: VueNotifications.types.info,
	      title: 'Hey Man',
	      message: 'Here is some info for you'
	    },
	    showWarnMsg: {
	      type: VueNotifications.types.warn,
	      title: 'Wow,',
	      message: 'That\'s the kind of warning'
	    },
	    showErrorMsg: {
	      type: VueNotifications.types.error,
	      title: 'Wow-wow',
	      message: 'That\'s the error'
	    }
	  },

		data () {
			return {
				appName: process.env.appName,
		    comment: '',
		    email: '',
		    name:'',
			}
		},
		components: {
			'v-video': Video,
			'v-detail': Detail,
      'v-promotion': Promotion,
      'v-comments': Comments
		},
		computed: {},
		methods: {
			postComent () {
				this.$validator.validateAll().then(result => {
          if (result) {
          	axios.post('http://localhost:9000/api/add_blog_comment', {blog_id: this.blog.id, name: this.name, email: this.email, comment: this.comment})
						.then(response => {
							this.showSuccessMsg({title: "Comment", message: response.data.success.message, timeout: 1500})
							this.name = ''
							this.email = ''
							this.comment = ''
						})
						.catch(error => {
							this.loader = false
			        if (error.response.status === 422) {
			          this.displayErrors(error.response.data.errors, error.response.statusText, this)
			        } else if (error.response.status === 400) {
			          this.showInfoMsg({message: error.response.data.error})
			          // Redirect home.
			          this.$router.push('/' + this.username + '/home')
			        } else if (error.response.status === 409) {
			            this.showWarnMsg({message: error.response.data.message})
			        } else {
			          this.showErrorMsg({message: error.response.statusText})
			        }
						})
					}
				})
			},
	    displayErrors (items, title = 'Error', self) {
	      for (var i = 0, len = items.length; i < len; i++) {
	        (function (i) {
	          setTimeout(function () {
	            var x = (i === 0) ? 0.5 : i / 2
	            var time = 10000 * x
	            var speed = 1000 * x
	            self.showWarnMsg({title: title, message: items[i].replace(/_/g, ' ') })
	          }, 1500 * i)
	        })(i)
	      }
	    }
		}
	}
</script>

<style scoped>
	
</style>