<template>
	<v-container>
		<v-layout row wrap>
			<v-flex xs12>
				<v-card>
					<v-card-media
						:src="ad.src"
						height="200px"
					>
						<v-container fill-height fluid>
						  <v-layout fill-height>
						    <v-flex xs12 align-end flexbox>
						      <span class="headline white--text" v-text="ad.title"></span>
						    </v-flex>
						  </v-layout>
						</v-container>
					</v-card-media>
					<v-card-actions class="white">
						 <v-spacer></v-spacer>
						 <v-btn icon>
						   <v-icon>favorite</v-icon>
						 </v-btn>
						 <v-btn icon>
						   <v-icon>bookmark</v-icon>
						 </v-btn>
						 <v-btn icon>
						   <v-icon>share</v-icon>
						 </v-btn>
					</v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script scoped>
	export default {
		name: 'blog-post-sidebar',
		props: ['ad'],
		data () {
			return {

			}
		}
	}
</script>