// Import Vuetify styling
$theme := {
  primary: '#448AFF'
  secondary: '#FFC107'
  accent: '#82B1FF'
  error: '#FF5252'
  info: '#2196F3'
  success: '#4CAF50'
  warning: '#FFC107'
}
@require '~vuetify/src/stylus/app.styl'

.page
  @extend .fade-transition
