<template>
	<v-container fluid>
		<v-layout row wrap>
			<v-flex xs12>
				<v-jumbotron
			    src="../static/slides/5.jpg"
			    :gradient="gradient"
			    dark
			  >
			    <v-container fill-height>
			      <v-layout align-center>
			        <v-flex text-xs-center>
			          <h3 class="display-3">Beat License</h3>
			          <!-- <v-subheader class="text-xs-center d-block">$4.99 / month</v-subheader>
			          <v-btn color="blue" large block>Start Now</v-btn> -->
			        </v-flex>
			      </v-layout>
			    </v-container>
			  </v-jumbotron>
			</v-flex>
			<v-container>
				<v-layout row wrap>
					<v-flex xs12>
				<div>
					<h1>Beat Licenses</h1>
					<p>
						<ul>
							<li>
								Non-Exclusive (Lease) - The track is licensed non-exclusively to the buyer and all masters remain property of Mad237
							</li>
							<li>
								Exclusive Rights - The track is sold to a single buyer and can no longer be sold thereafter.
							</li>
						</ul>
					</p>

					<h2 class="title">Demo / Free Download</h2>
					<p class="red--text">
						A free demo download is a "tagged" version of an instrumental that is provided to an artist for demonstration purposes only. This means you can use the beat for test recordings or simply for casual listen. If you are planning to record a song to any beat and make it available online to the public (even if it's only for non-profitable use or stream via YouTube, ReverbNation, Soundcloud, Soundclick, etc), a license must be purchased.
					</p> 
					<p>
					The free download shall only be used for casual listening or to record a personal demonstration song to. If you have any doubts or questions about using a free instrumental from our catalog, please <a href="/contact-us" title="contact us">contact us</a>.
				</p>

				<h2>Basic Lease 27$</h2>
				<ul>
					<li class="red--text">
						* 1 commercial use only (album, mixtape, EP, demo, etc)
					</li>
					<li class="red--text">
						* Includes Performances/Promo/Radio play
					</li>
					<li class="red--text">
						* Distribution limit 10,000 copies 
					</li>
					<li class="red--text">
						* Mad237 still owns full rights (non-exclusive)
					</li>
					<li class="red--text">
						* 320 kbps .MP3 file - A download link to the untagged beat will be sent to your email instantly!
					</li>
					<li class="red--text">
						*Production credits shall be given for any use, as follows: “Beats produced by KovapotBeats (www.mad237.com)”
					</li>
				</ul>
				<strong>
					<em>
						By making a standard license purchase, the buyer automatically becomes bound to and accepts the following terms and conditions of the License Agreement.
					</em>
				</strong>	 
					 
					
					
					
					
					 
					TERMS AND CONDITIONS: 
					All standard licenses (leases) are sold non-exclusively and all masters remain property of Mad237.
					Purchasing a standard license gains the buyer non-exclusive rights Mad237 reserves the right to re-license or re-sell the same beat exclusively.
					The buyer receives a 320 kbps high-quality, untagged MP3 file. Upon payment confirmation, the buyer will be e-mailed the download link.
					Standard licensing rights allow the buyer to use the beat for ONE commercial project (album, mixtape, EP, demo, etc.) with a limit of 10,000 copies sold.
					The buyer must either purchase a premium license or exclusive rights to sell more than 10,000 copies and/or to use for multiple projects.
					All beats used must be credited as follows: “Beats produced by KovapotBeats (www.mad237.com)”
					Using any Mad237’s instrumental without giving proper production credit is NOT permitted.
					This license expressly FORBIDS resale or other distribution Mad237’s, products in any form, either as they exist or any modification thereof. The buyer SHALL NOT sell, loan, rent, lease, assign, remix, or rearrange any of the products sold or their rights under Mad237 to another user (i.e. - record label, production company, or producer), or for use in any competitive product.
					The buyer is responsible for the clearance of any samples that were used to create any beats used from the Mad237,  instrumental catalog. 
					This document serves as the standing agreement between the buyer and Mad237, . In the event that someone buys exclusive rights to the beat you have licensed non-exclusively, your rights shall stand per your license agreement.
					Any usage not explicitly allowed by this license, including but not limited to any usage by an unlicensed individual or organization, will be prosecuted. 



					Premium Lease 57$
					* Up to 2 commercial uses (album, mixtape, EP, demo, etc) 
					* Includes Performances/Promo/Radio play 
					* Distribution limit 50,000 copies 
					* Mad237,  still owns full rights (non-exclusive)
					* Master .WAV and trackouts (stem files)
					* A download link to the untagged .WAV and trackouts will be sent to your email instantly!
					**Production credits shall be given for any use, as follows: “Beats produced by KovapotBeats (www.mad237.com)”
					By making a premium license purchase, the buyer automatically becomes bound to and accepts the following terms and conditions of the License Agreement. 
					TERMS AND CONDITIONS: 
					All premium licenses (leases) are sold non-exclusively and all masters remain property of Mad237, .
					Purchasing a premium license gains the buyer non-exclusive rights and Mad237,  reserves the right to re-license or re-sell the same beat exclusively.
					The buyer receives a high quality untagged master 44.1 KHz 16 Bit WAV file as well as the individual trackouts (stem files). Upon payment confirmation, the buyer will be e-mailed the download link.
					Premium licensing rights allow the buyer to use the beat for up to TWO commercial projects (album, mixtape, EP, demo, etc.) with a limit of 50,000 copies sold.
					The buyer must either purchase an extended premium license or exclusive rights to sell more than 50,000 copies and/or to use for more than two projects.
					All beats used must be credited as follows: “Beats produced by KovapotBeats (www.mad237.com)”
					Using any Mad237,  instrumental without giving proper production credit is NOT permitted.
					This license expressly FORBIDS resale or other distribution of Mad237,  products in any form, either as they exist or any modification thereof. The buyer SHALL NOT sell, loan, rent, lease, assign, remix, or rearrange any of the products sold or their rights under Mad237,  to another user (i.e. - record label, production company, or producer), or for use in any competitive product.
					The buyer is responsible for the clearance of any samples that were used to create any beats used from the Mad237,  instrumental catalog. 
					This document serves as the standing agreement between the buyer and Mad237, . In the event that someone buys exclusive rights to the beat you have licensed non-exclusively, your rights shall stand per your license agreement.
					Any usage not explicitly allowed by this license, including but not limited to any usage by an unlicensed individual or organization, will be prosecuted. 



					Unlimited Lease 97$
					* Unlimited commercial uses (album, mixtape, EP, demo, etc) 
					* Includes Performances/Promo/Radio play 
					* Unlimited distribution
					* Mad237,  still owns full rights (non-exclusive)
					* Master .WAV and trackouts (stem files)
					* A download link to the untagged .WAV and trackouts will be sent to your email instantly!
					By making an unlimited license purchase, the buyer automatically becomes bound to and accepts the following terms and conditions of the License Agreement. 
					TERMS AND CONDITIONS: 
					All unlimited licenses (leases) are sold non-exclusively and all masters remain property of Mad237, .
					Purchasing an unlimited license gains the buyer non-exclusive rights and Mad237,  reserves the right to re-license or re-sell the same beat exclusively.
					The buyer receives a high quality untagged master 44.1 KHz 16 Bit WAV file as well as the individual trackouts (stem files). Upon payment confirmation, the buyer will be e-mailed the download link.
					Unlimited licensing rights allow the buyer to use the beat for unlimited projects (album, mixtape, EP, demo, etc.) with an unlimited amount of copies sold.
					All beats used must be credited as follows: “Beats produced by KovapotBeats (www.mad237.com)”
					Using any Mad237,  instrumental without giving proper production credit is NOT permitted.
					This license expressly FORBIDS resale or other distribution of Mad237,  products in any form, either as they exist or any modification thereof. The buyer SHALL NOT sell, loan, rent, lease, assign, remix, or rearrange any of the products sold or their rights under Mad237,  to another user (i.e. - record label, production company, or producer), or for use in any competitive product.
					The buyer is responsible for the clearance of any samples that were used to create any beats used from the Mad237,  instrumental catalog. 
					This document serves as the standing agreement between the buyer and Mad237, . In the event that someone buys exclusive rights to the beat you have licensed non-exclusively, your rights shall stand per your license agreement.
					Any usage not explicitly allowed by this license, including but not limited to any usage by an unlicensed individual or organization, will be prosecuted. 



					Exclusive Rights 497+
					* Unlimited commercial uses
					* Includes Performances/Promo/Radio play 
					* Unlimited distribution 
					* Buyer owns full rights (can no longer be sold)
					* Master .WAV and trackouts (stem files)
					* A download link to the untagged .WAV and trackouts will be sent to your email instantly!
					* Within 48 hours of payment, the beat will be marked *SOLD* and a signed contract will be sent to your email.
					By making an exclusive rights purchase, the buyer automatically becomes bound to and accepts the following terms and conditions of the License Agreement. 
					TERMS AND CONDITIONS: 
					Exclusive rights grant the buyer full ownership of the instrumental.
					This license guarantees that Mad237,  shall not re-sell or re-license this instrumental after exclusive rights have been purchased.
					The buyer receives a high quality untagged master 44.1 KHz 16 Bit WAV file as well as the individual trackouts (stem files). Upon payment confirmation, the buyer will be e-mailed the download link.
					Exclusive rights allow the buyer to use the beat unlimited commercial projects (demos, mixtapes, albums, EPs, etc.) with unlimited amount of sales.
					All beats used must be credited as follows: “Beats produced by KovapotBeats (www.mad237.com)”
					Using any Mad237,  instrumental without giving proper production credit is NOT permitted.
					This license expressly FORBIDS resale or other distribution of Mad237,  products in any form, either as they exist or any modification thereof. The buyer SHALL NOT sell, loan, rent, lease, assign, remix, or rearrange any of the products sold or their rights under Mad237,  to another user (i.e. - record label, production company, or producer), or for use in any competitive product.
					The buyer is responsible for the clearance of any samples that were used to create any beats used from the Mad237,  instrumental catalog. 
					This document serves as the standing agreement between the buyer and Mad237, . In the event that someone buys exclusive rights to the beat you have licensed non-exclusively, your rights shall stand per your license agreement.
					Any usage not explicitly allowed by this license, including but not limited to any usage by an unlicensed individual or organization, will be prosecuted. 

					Sound Kits
					* Unlimited commercial use 
					* All sounds have been individually picked & processed (layered, EQed, compressed, FX, etc) by TCustomz. 
					* A download link to the kit will be sent to your email instantly!
					By making a sound kits purchase, the buyer automatically becomes bound to and accepts the following terms and conditions of the License Agreement. 
					TERMS AND CONDITIONS: 
					All sound kits are sold non-exclusively and all masters remain property of Mad237, .
					Purchasing a sound kit gains the buyer non-exclusive rights and Mad237,  reserves the right to re-license the same sound kit.
					Upon payment confirmation, the buyer receives a digital download link via email.
					This license expressly FORBIDS resale or other distribution of Mad237,  products in any form, either as they exist or any modification thereof. The buyer SHALL NOT sell, loan, rent, lease, assign, remix, or rearrange any of the products sold or their rights under Mad237,  to another user (i.e. - record label, production company, or producer), or for use in any competitive product.
					Any usage not explicitly allowed by this license, including but not limited to any usage by an unlicensed individual or organization, will be prosecuted.

					<h1>FREE LICENSE</h1>
					Below the free beat catalog comes the following
Get 5 Free Beats & 10% Off Your Next Purchase!
See free beat sec 2 jpeg

We respect your privacy and will never share your email with a third party
By signing up above and upon reception of the free beats/instrumentals, you are deemed to have read and agreed to the Terms of Use of the free beats/instrumentals.

FREE BEATS / INSTRUMENTALS – TERMS OF USE
Right to use for non-commercial purpose only*

Rights granted for vocal recordings and synchronization (sound design…)


Right to use for promotional activities and webcasting over the internet only

No right to use for gigs, concert, public performance…


No right: to distribute; to arrange/modify/transform; to sample

No right to use or sell the Instrumental/beat alone


100% full rights (copyright and ownership) to KovapotBeats & Mad237)

100% royalty-free


Production credits shall be given for any use, as follows: “Beats produced by
 KovapotBeats (www.mad237.com)”
Instrumental/Beat sent (with Voicetag*) in mp3 (192 kbps)
See free beat sec 3 jpeg


(*)If you would like to get these instrumentals/beats with no Voicetag and get wider rights of use (including commercial use), please purchase one of our licenses (Mp3 Lease, Premium Lease, Unlimited Lease or Exclusive) from our Beat Store.
				</div>
			</v-flex>
				</v-layout>
			</v-container>
		</v-layout>
	</v-container>
</template>

<script>
  export default {
    data: () => ({
      gradient: 'to top right, rgba(63,81,181, .7), rgba(25,32,72, .7)',
    })
  }
</script>