<template>
	<v-container fluid>
		<v-layout row wrap>
			<v-flex xs12>
				<v-jumbotron
			    src="../static/slides/1.jpg"
			    :gradient="gradient"
			    dark
			  >
			    <v-container fill-height>
			      <v-layout align-center>
			        <v-flex text-xs-center>
			          <h3 class="display-3">MIXING AND MASTERING</h3>
			          <!-- <v-subheader class="text-xs-center d-block">$4.99 / month</v-subheader>
			          <v-btn color="blue" large block>Start Now</v-btn> -->
			        </v-flex>
			      </v-layout>
			    </v-container>
			  </v-jumbotron>
			</v-flex>
		</v-layout>
		<v-layout row wrap>
			<v-flex xs12 md4 class="pa-3">
				<h2>
					Why is mixing and mastering important?
				</h2>
				<p>
					The aim of studio mixing is to harmonize the different tracks of a multitrack recording to produce a specific digital signal. Mastering comes after mixing and refers to the set of treatments applied to the sound, to obtain a recorded work (song) ready for pressing (CD…), for any TV/radio broadcast, public performance…
				</p>
			</v-flex>
			<v-flex xs12 md4 class="pa-3">
				<h1>What we offer</h1>
				<p>
					To mix and master your music with your recorded vocals, in order to have your song ready for any media broadcast! Different Packs are available depending on the number of tracks your project contains.
				</p>
			</v-flex>
			<v-flex xs12 md4 class="pa-3">
				<h1>What you will get</h1>
				<p>Your final track mixed and mastered with a digital signal of 44 kHz/24 bits.</p>
			</v-flex>
		</v-layout>

		<v-data-iterator
			content-tag="v-layout"
			row
			wrap
			:items="items"
			:pagination.sync="pagination"
			style="width:100%;"
			:hide-actions="true"
			>
				<v-flex
				  slot="item"
				  slot-scope="props"
				  xs12
				  sm6
				  md4
				  lg4
				  pr-4
				  pl-4
				>
				  <v-card>
				    <v-card-title :class="props.item.color"><h4 class="text-xs-center">{{ props.item.name }}</h4></v-card-title>
				    <v-divider></v-divider>
				    <v-list dense>
				      <v-list-tile class="grey">
				              <!-- <v-list-tile-content>Calories:</v-list-tile-content> -->
				        <v-list-tile-content class="align-center"><strong>${{ props.item.price }}</strong></v-list-tile-content>
				      </v-list-tile>
				      <v-list-tile>
				        <v-list-tile-content>
				         <v-icon small>fa-tag</v-icon>
				        </v-list-tile-content>
				        <v-list-tile-content class="">{{ props.item.buy_3 }}</v-list-tile-content>
				      </v-list-tile>
				      <v-list-tile>
				        <v-list-tile-content>
				         <v-icon small>fa-tag</v-icon>
				        </v-list-tile-content>
				        <v-list-tile-content class="">{{ props.item.buy_5 }}</v-list-tile-content>
				      </v-list-tile>
				      <v-list-tile>
				        <v-btn large block color="primary">I'm Interested</v-btn>
				      </v-list-tile>
				    </v-list>
				  </v-card>
				</v-flex>
		</v-data-iterator>
		<v-layout row wrap>
			<v-flex xs12>
				<h1 class="text-xs-center">INTERESTED IN GETTING YOUR SONG MIXED AND MASTERED BY US;</h1>
				<b>Just follow these few steps:</b>
				<p>
					1. Make sure you have properly recorded your vocals on the song and that you are in possession of all the project files (all audio tracks) in the following format: wav, 44 kHz/16 or 24 bits.
					(Help: “How can I record my vocals” in the FAQ)

					2. Email us using the contact form below

					3. Offer and Confirmation
					We will recapitulate your request and make our offer: price, date of delivery…
					If it matches your expectations, you will be asked to agree to this offer (in reply to the message). Once you have agreed to this offer, your order will be confirmed.
					4. Payment
					You will then receive an invoice by email, together with a request for payment through Paypal (possible to pay with credit/debit card). The total amount needs to be paid before any work starts.

					5. Send Us The Audio Tracks
					Send us the separate audio tracks (instrumentals and voices). Because the files are too big in size to be sent directly, you may use free online services to send them, such as: WeTransfer (www.wetransfer.com), DropBox (www.dropbox.com)…

					6. Start Of Work
					Once your payment is completed and the files received, we will proceed to the mixing and mastering of the song.

					7. Delivery
					A few days later, you will receive the finalized mastered song by email (in wav format).
				</p>
			</v-flex>
			<v-flex xs12 md6>
				<div class="pa-2">
					<v-container fluid class="pa-0 mt-2">
					  <v-flex xs12 class="text-xs-right">
					    <v-text-field
					      label="Name"
					      v-model="name"
					      value=""
					      single-line
					      full-width
					      hide-details
					      required
					    ></v-text-field>
					  </v-flex>
					  <v-flex xs12>
					    <v-divider></v-divider>
					    <v-text-field
					      label="Email"
					      v-model="email"
					      value=""
					      single-line
					      full-width
					      hide-details
					      required
					    ></v-text-field>
					  </v-flex>
					  <v-flex xs12>
					    <v-divider></v-divider>
					    <v-text-field
					      label="Genre/Style*"
					      v-model="genre"
					      value=""
					      single-line
					      full-width
					      hide-details
					      required
					    ></v-text-field>
					  </v-flex>
					  <v-flex xs12>
					    <v-divider></v-divider>
					    <v-text-field
					      label="Budget"
					      v-model="budget"
					      value=""
					      single-line
					      full-width
					      hide-details
					    ></v-text-field>
					  </v-flex>
					  <v-flex xs12>
					    <v-divider></v-divider>
					    <v-text-field
					      label="General Ideas For Custom(s)*"
					      v-model="ideas"
					      counter
					      max="120"
					      full-width
					      multi-line
					      single-line
					      required
					    ></v-text-field>
					  </v-flex>
					  <v-btn color="primary" @click.stop="">SEND</v-btn>
					</v-container>
				</div>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
  export default {
    data: () => ({
      gradient: 'to top right, rgba(63,81,181, .7), rgba(25,32,72, .7)',
	    pagination: {
	      rowsPerPage: 3
	    },
	    items: [
	      {
	          value: false,
	          color: 'purple',
	          name: 'Pack Bronze',
	          price: 27,
	          buy_3: 'Buy 3, Get 1 FREE',
	          buy_5: 'Buy 5, Get 2 FREE'
	      },
	      {
	          value: false,
	          color: 'blue',
	          name: 'Pack Silver',
	          price: 57,
	          buy_3: 'Buy 3, Get 1 FREE',
	          buy_5: 'Buy 5, Get 2 FREE'
	      },
	      {
	          value: false,
	          color: 'amber',
	          name: 'Pack Platimum',
	          price: 97,
	          buy_3: 'Buy 3, Get 1 FREE',
	          buy_5: 'Buy 5, Get 2 FREE'
	      }
	    ],
      name: '',
      email: '',
      genre: '',
      budget: '',
      ideas: ''
    })
  }
</script>