<template>
  <h1>{{ user.username }}</h1>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
export default {
  middleware: 'auth',

  head () {
    return { title: 'Home' }
  },

  computed: {
    ...mapGetters({
      authenticated: 'auth/check',
      user: 'auth/user'
  })
  }
}
</script>
