<template>
  <v-container>
    <v-layout>
    <v-flex xs12>
      <h1>Advance Profile</h1>
      <v-divider></v-divider>
      <v-form>
        <v-text-field
          label="Mailing address"
          v-model="investor.mailing_address"
          required
          :error-messages="errors.collect('mailing_address')"
          v-validate="'required'"
          data-vv-name="mailing_address"
        ></v-text-field>
        <v-text-field
          label="Indentification number"
          v-model="investor.identification_number"
          :error-messages="errors.collect('identification_number')"
          v-validate=""
          data-vv-name="identification_number"
        ></v-text-field>
        <v-text-field
          label="Social security number"
          v-model="investor.social_security_number"
          :error-messages="errors.collect('social_security_number')"
          v-validate=""
          data-vv-name="social_security_number"
        ></v-text-field>
        <div>
          <input type="file" style="display:none" ref="regInput" @change="onIdSelected">
          <v-btn color="secondary" large @click="$refs.regInput.click()"> 
            <v-icon>fa-camera</v-icon> &nbsp;
                        {{ IdMessage }}
          </v-btn>
        </div>
        <v-btn color="primary" @click.stop="update()" :loading="loader"
          :disabled="loader">Update
          <span slot="loader" class="custom-loader">
            <v-icon light>cached</v-icon>
          </span>
        </v-btn>
      </v-form>
    </v-flex>
  </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'

export default {
  scrollToTop: false,

  head () {
    return { title: 'Settings' }
  },

  data () {
    return {
        loader: false,
        IdMessage: 'select id',
        selectedIdDoc: '',
        mailing_address: '',
        identification_number: '',
        social_security_number: '',
        dictionary: {
          attributes: {
            mailing_address: 'Mailing address',
            identification_number: 'Indentification number',
            social_security_number: 'Social security number'
          },
        }
      
    }
  },

  computed: { 
    ...mapGetters({
      user: 'auth/user',
      investor: 'auth/investor'
    })
  },

  created () {
    this.$store.dispatch('auth/fetchUserData')
  },

  methods: {
    onIdSelected (event) {
      this.selectedIdDoc = event.target.files[0]
      this.IdMessage = this.selectedIdDoc.name
    },
    update () {
      if (this.selectedIdDoc !== '') {
        this.$validator.validateAll({
          mailing_address: this.mailing_address,
          identification_number: this.identification_number,
          social_security_number: this.social_security_number
        }).then(result => {
          if (result) {
            this.loader3 = true
            const payload = new FormData()
              if (this.user.hasOwnProperty('investor')) {
                payload.append('venture_id', this.user.investor.data.id)
              }
              payload.append('mailing_address', this.mailing_address)
              payload.append('identification_number', this.identification_number)
              payload.append('social_security_number', this.social_security_number)
              payload.append('identification_doc', this.selectedIdDoc)
              this.$store.dispatch('auth/updateInvestor', payload)
               .then(response => {
                  console.log(response)
                  this.loader3 = false
                  if (response.status === 200) {
                    // success message
                    this.selectedIdDoc = null
                    this.IdMessage = 'select id'
                    this.emitSuccessNotify(response.success)
                  } else if (response.status === 422) {
                    // this.errorCollector(response.body, this)
                    var errors = response.errors
                    var items = []
                    Object.keys(errors).forEach(function (key, self = this) {
                      items.push(errors[key][0])
                    })
                    this.displayErrors(items, this)
                  }
              })
            } else {
              this.errorCollector(this.errors.items, this)
            }
          })
        } else {
          let postMessage = {
            message: 'Please select an image file to upload'
          }
          this.emitErrorNotify(postMessage)
        }
      },
      emitErrorNotify (payload) {
        this.$events.fire('errorSnackbar', payload);
      },
      emitSuccessNotify (payload) {
        this.$events.fire('successSnackbar', payload);
      },
      errorCollector (items, self) {
        for (var i = 0, len = items.length; i < len; i++) {
          (function (i) {
            setTimeout(function () {
              var x = (i === 0) ? 0.5 : i / 2
              var time = 10000 * x
              var speed = 1000 * x
              self.$notify({ group: 'app-template', text: items[i].msg.replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
            }, 1500 * i)
          })(i)
        }
      },
  }
}
</script>
