<template>
  <v-container>
    <v-layout>
    <v-flex xs12>
      <h1>Compony Documents</h1>
      <v-divider></v-divider>
      <v-form>
        <h1>Company Tax Card</h1>
        <hr />
        <p>
          <!-- <img :src="user.taxCard" style="height:250px;" class="o-img-responsive o-img-thumbnail" alt="No Data"> -->
          <pdf :src="venture.tax_card"></pdf>
          <input type="file" style="display:none" ref="taxInput" @change="onTaxSelected">
          <v-btn color="secondary" large @click="$refs.taxInput.click()">
            <v-icon>fa-camera</v-icon> &nbsp;
            {{ taxMessage }}
          </v-btn>
          <v-btn v-if="selectedTax" @click.stop="updateTax" color="success" small :loading="loader"
            :disabled="loader">Upload
            <span slot="loader" class="custom-loader">
              <v-icon light>cached</v-icon>
            </span>
          </v-btn>
        </p>
        <h1>Company Registration</h1>
        <hr />
        <p>
          <!-- <img :src="user.companyReg" style="height:250px;" class="o-img-responsive o-img-thumbnail" alt="No Data"> -->
          <pdf :src="venture.company_registration"></pdf>
          <input type="file" style="display:none" ref="regInput" @change="onRegSelected">
          <v-btn color="secondary" large @click="$refs.regInput.click()">
            <v-icon>fa-camera</v-icon> &nbsp;
            {{ regMessage }}
          </v-btn>
          <v-btn v-if="selectedReg" @click.stop="updateRegistration" color="success" small :loading="loader1"
            :disabled="loader1">Upload
            <span slot="loader" class="custom-loader">
              <v-icon light>cached</v-icon>
            </span>
          </v-btn>
        </p>
      </v-form>
    </v-flex>
  </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
import pdf from 'vue-pdf'

export default {
  $_veeValidate: {
    validator: 'new'
  },
  scrollToTop: true,

  head () {
    return { title: 'Settings' }
  },

  data () {
    return {
        loader: false,
        loader1: false,
        taxMessage: 'Choose a file',
        selectedTax: '',
        regMessage: 'Choose a file',
        selectedReg: '',
        dictionary: {
          attributes: {}
        }
      
    }
  },

  components: {
    pdf
  },

  computed: { 
    ...mapGetters({
      user: 'auth/user',
      venture: 'auth/venture'
    })
  },

  created () {},

  methods: {
    onTaxSelected (event) {
      this.selectedTax = event.target.files[0]
      this.taxMessage = this.selectedTax.name
    },
    onRegSelected (event) {
      this.selectedReg = event.target.files[0]
      this.regMessage = this.selectedReg.name
    },
    updateTax () {
        if (this.selectedTax !== null) {
          this.loader = true
          const payload = new FormData()
          payload.append('media', this.selectedTax)
          this.$store.dispatch('auth/updateTaxCard', payload)
           .then(response => {
              this.loader = false
              if (response.status === 302) {
                this.emitErrorNotify(response.body)
              } else if (response.status === 200) {
                // success message
                this.selectedTax = null
                this.taxMessage = 'Choose a file'
                this.emitSuccessNotify(response.body.success)
              } else if (response.status === 400) {
                  // error message
                this.emitErrorNotify(response.body)
              } else if (response.status === 422) {
                // this.errorCollector(response.body, this)
                var errors = response.body.errors
                var items = []
                Object.keys(errors).forEach(function (key, self = this) {
                  items.push(errors[key][0])
                })
                this.displayErrors(items, this)
              } else {
                let data = {
                  message: response.statusText
                }
                this.emitErrorNotify(data)
              }
            }, response => {
              // handle errors
              this.loader = false
              let data = {
                message: response.statusText
              }
              this.emitErrorNotify(data)
            })
        } else {
          let postMessage = {
            message: 'Please select an image file to upload'
          }
          this.emitErrorNotify(postMessage)
        }
      },
      updateRegistration () {
        if (this.selectedReg !== null) {
          this.loader1 = true
          const payload = new FormData()
          payload.append('media', this.selectedReg)
          this.$store.dispatch('auth/updateCompanyRegistration', payload)
           .then(response => {
              this.loader1 = false
              if (response.status === 302) {
                this.emitErrorNotify(response.body)
              } else if (response.status === 200) {
                // success message
                this.selectedReg = null
                this.regMessage = 'Choose a file'
                this.emitSuccessNotify(response.body.success)
              } else if (response.status === 400) {
                  // error message
                this.emitErrorNotify(response.body)
              } else if (response.status === 422) {
                // this.errorCollector(response.body, this)
                var errors = response.body.errors
                var items = []
                Object.keys(errors).forEach(function (key, self = this) {
                  items.push(errors[key][0])
                })
                this.displayErrors(items, this)
              } else {
                let data = {
                  message: response.statusText
                }
                this.emitErrorNotify(data)
              }
            }, response => {
              // handle errors
              this.loader1 = false
              let data = {
                message: response.statusText
              }
              this.emitErrorNotify(data)
            })
        } else {
          let postMessage = {
            message: 'Please select an image file to upload'
          }
          this.emitErrorNotify(postMessage)
        }
      },
      emitErrorNotify (payload) {
        this.$events.fire('errorSnackbar', payload);
      },
      emitSuccessNotify (payload) {
        this.$events.fire('successSnackbar', payload);
      },
      errorCollector (items, self) {
        for (var i = 0, len = items.length; i < len; i++) {
          (function (i) {
            setTimeout(function () {
              var x = (i === 0) ? 0.5 : i / 2
              var time = 10000 * x
              var speed = 1000 * x
              self.$notify({ group: 'app-template', text: items[i].msg.replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
            }, 1500 * i)
          })(i)
        }
      }
  },
  mounted () {
    this.$validator.localize('en', this.dictionary)
  }
}
</script>
