<template>
  <v-container>
    <v-layout row wrap>
                <v-flex xs12 md12>
                  <h1>Change password</h1>
                  <hr />
                  <v-text-field
                    label="Old Password"
                    v-model="old_password"
                    :error-messages="errors.collect('old_password')"
                    v-validate="'required|min:6'"
                    data-vv-name="old_password"
                    required
                  ></v-text-field>
                  <v-text-field
                    name="password"
                    label="New Password"
                    v-model="password"
                    type="password"
                    :error-messages="errors.collect('password')"
                    v-validate="'required'"
                    data-vv-name="password"
                    required
                  ></v-text-field>
                  <v-text-field
                    name="confirm_password"
                    label="Confirm New Password"
                    v-model="confirm_password"
                    type="password"
                    :error-messages="errors.collect('confirm_password')"
                    v-validate="'confirmed:password'"
                    data-vv-name="confirm_password"
                    required
                  ></v-text-field>
                  <v-btn color="light-blue" @click.stop="updatePassword" :loading="loader"
                    :disabled="loader">Update Password
                    <span slot="loader" class="custom-loader">
                      <v-icon light>cached</v-icon>
                    </span>
                  </v-btn>
                </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  scrollToTop: false,

  head () {
    return { title: 'Password Settings' }
  },

  data () {
    return {
      loader: false,
      old_password: '',
      password: '',
      confirm_password: '',
      dictionary: {
        attributes: {
          old_password: 'Old password',
          confirm_password: 'Password',
        },
        custom: {}
      }
    }
  },

  methods: {
    updatePassword () {
        this.$validator.validateAll({
          old_password: this.old_password,
          password: this.password,
          confirm_password: this.confirm_password
        }).then(result => {
          if (result) {
            this.loader = true
            this.$store.dispatch('auth/changePassword', {old_password: this.old_password, password: this.password, password_confirmation: this.confirm_password})
               .then(response => {
                 this.loader = false
                 if (response.status === 404) {
                   this.emitErrorNotify(response.body)
                 } else if (response.status === 200) {
                   this.emitSuccessNotify(response.body.success)
                   this.old_password = null
                   this.password = null
                   this.confirm_password = null
                   this.$store.dispatch('clearAuthUser')
                   // window.location.href = '/'
                 } else if (response.status === 401) {
                   let data = {
                      message: response.statusText
                   }
                   this.emitErrorNotify(data)
                   this.$store.dispatch('clearAuthUser')
                 } else if (response.status === 422) {
                    var errors = response.body
                    var items = []
                    Object.keys(errors).forEach(function (key, self = this) {
                      items.push(errors[key][0])
                    })
                    this.displayErrors(items, this)
                 } else {
                  let data = {
                      message: response.statusText
                  }
                  this.emitErrorNotify(data)
                 }
               }, response => {
                // handle errors
                  this.loader = false
                  let postMessage = {
                    message: response.statusText
                  }
                  this.emitErrorNotify(postMessage)
               })
          } else {
            this.errorCollector(this.errors.items, this)
          }
        })
      }
  }
}
</script>
