<template>
	<v-container>
		<v-layout row wrap>
			<v-flex xs12>
				<h1>Account Photo</h1>
				<v-divider></v-divider>
				<p>
					<img :src="user.photo_url" style="height:250px;" class="o-img-responsive o-img-thumbnail cursor--pointer" alt="avatar">
				</p>
				<v-form>
					<input type="file" style="display:none" ref="imageInput" @change="onFileSelected">
		      <v-btn color="secondary" large @click="$refs.imageInput.click()">
		        <v-icon>fa-camera</v-icon> &nbsp;
		        {{ profileMessage }}
		      </v-btn>
		      <v-btn v-if="selectedFile" color="success" @click.stop="onUpload" :loading="loader"
		        :disabled="loader">Upload
		      <span slot="loader" class="custom-loader">
				    <v-icon light>cached</v-icon>
				  </span>
		     </v-btn>
				</v-form>
			</v-flex>
			<v-flex xs12 v-if="user.account_type === 'venture'">
				<h1>Campaign Photo</h1>
				<v-divider></v-divider>
				<p>
					<img :src="venture.photo_url" style="height:250px;" class="o-img-responsive o-img-thumbnail cursor--pointer" alt="avatar">
				</p>
				<v-form>
					<input type="file" style="display:none" ref="photoInput" @change="onPhotoSelected">
		      <v-btn color="secondary" large @click="$refs.photoInput.click()">
		        <v-icon>fa-camera</v-icon> &nbsp;
		        {{ photoMessage }}
		      </v-btn>
		      <v-btn v-if="selectedPhoto" color="success" @click.stop="photoUpload()" :loading="c_loader"
		        :disabled="c_loader">Upload
		      <span slot="loader" class="custom-loader">
				    <v-icon light>cached</v-icon>
				  </span>
		     </v-btn>
				</v-form>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'

export default {
  scrollToTop: false,

  head () {
    return { title: 'Avatar Settings' }
  },

  data () {
    return {
        loader: false,
        profileMessage: 'Select an image to upload',
        selectedFile: null,
        c_loader: false,
        photoMessage: 'Select an image to upload',
        selectedPhoto: null,
        dictionary: {
          attributes: {}
        }
      
    }
  },

  computed: { 
    ...mapGetters({
      user: 'auth/user',
      venture: 'auth/venture'
    })
  },

  created () {},

  methods: {
	  onFileSelected (event) {
	   this.selectedFile = event.target.files[0]
	   this.profileMessage = this.selectedFile.name
	  },
	  onPhotoSelected (event) {
	   this.selectedPhoto = event.target.files[0]
	   this.photoMessage = this.selectedPhoto.name
	  },
    onUpload () {
		    if (this.selectedFile !== '') {
		      this.loader = true
		    	const payload = new FormData()
			    payload.append('media', this.selectedFile)
		      this.$store.dispatch('auth/updateMedia', payload)
	         .then(response => {
	          	this.loader = false
	            if (response.status === 302) {
	              this.emitErrorNotify(response.data)
	            } else if (response.status === 200) {
	              // success message
	              this.selectedFile = null
	              this.profileMessage = 'Select an image to upload'
	              this.emitSuccessNotify(response.data.success)
	            } else if (response.status === 400) {
	                // error message
	              this.emitErrorNotify(response.data)
	            } else if (response.status === 422) {
	              this.displayErrors(response.data.errors, this)
	            } else {
	              let data = {
	                message: response.statusText
	              }
	              this.emitErrorNotify(data)
	            }
	          }, response => {
	            // handle errors
	            this.loader = false
	            let data = {
	              message: response.statusText
	            }
	            this.emitErrorNotify(data)
	          })
		    } else {
		    	let postMessage = {
		    		message: 'Please select an image file to upload'
		    	}
		    	this.emitErrorNotify(postMessage)
		    }
	    },
    	photoUpload () {
		    if (this.selectedPhoto !== '') {
		      this.c_loader = true
		    	const payload = new FormData()
			    payload.append('media', this.selectedPhoto)
		      this.$store.dispatch('auth/updateVentureMedia', payload)
	         .then(response => {
	          	this.c_loader = false
	            if (response.status === 302) {
	              this.emitErrorNotify(response.data)
	            } else if (response.status === 200) {
	              // success message
	              this.selectedPhoto = null
	              this.profileMessage = 'Select an image to upload'
	              this.emitSuccessNotify(response.data.success)
	            } else if (response.status === 400) {
	                // error message
	              this.emitErrorNotify(response.data)
	            } else if (response.status === 422) {
	              this.displayErrors(response.data.errors, this)
	            } else {
	              let data = {
	                message: response.statusText
	              }
	              this.emitErrorNotify(data)
	            }
	          }, response => {
	            // handle errors
	            this.c_loader = false
	            let data = {
	              message: response.statusText
	            }
	            this.emitErrorNotify(data)
	          })
		    } else {
		    	let postMessage = {
		    		message: 'Please select an image file to upload'
		    	}
		    	this.emitErrorNotify(postMessage)
		    }
	    },
      emitErrorNotify (payload) {
        this.$events.fire('errorSnackbar', payload);
      },
      emitSuccessNotify (payload) {
        this.$events.fire('successSnackbar', payload);
      },
      displayErrors (items, self) {
        for (var i = 0, len = items.length; i < len; i++) {
          (function (i) {
            setTimeout(function () {
              var x = (i === 0) ? 0.5 : i / 2
              var time = 10000 * x
              var speed = 1000 * x
              self.$notify({ group: 'app-template', text: items[i].msg.replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
            }, 1500 * i)
          })(i)
        }
      },
  }
}
</script>
